[data-content-image-5] {

	.image {
		text-align: center;
		margin-bottom: 24px;
		
		@include breakpoint(medium) {
			margin-bottom: 32px;
		}

		@include breakpoint(large) {
			margin-bottom: 48px;
		}
	}

	.heading {
		@extend .heading-1;
	}

	p {
		@extend .body-text;
	}

	.content {
		.cell:first-child {
			margin-bottom: 32px;

			@include breakpoint(large) {
				margin-bottom: 0;
			}
		}
	}

}