[data-content-with-links-2] {

	.component-title {
		@extend .heading-1;
		margin-bottom: 16px;

		@include breakpoint(medium) {
			margin-bottom: 24px;
		}
	}

	p {
		@extend .body-text;
	}

	.text-content {
		margin-bottom: 12px;

		@include breakpoint(medium) {
			margin-bottom: 0;
		}

		@include breakpoint(large) {
			padding: 0 12px;
		}

		&>*:first-child {
			margin-top: 0;
		}

	}

	.two-col {
		columns: 1;

		@include breakpoint(medium) {
			columns: 2;
			column-gap: 40px;
		}

		p {
			display: inline-block;
		}
	}

	.sidebar-links {
		@include breakpoint(medium) {
			padding-left: 40px;
		}
		
		ul {
			@include breakpoint(medium) {
				margin-top: 0;
			}
		}
	}

	.cta {
		margin-top: 24px;

		@include breakpoint(medium) {
			margin-top: 32px;
		}
	}

}