[data-hero-5] {

	header {
		padding: 24px 0;

		@include breakpoint(medium) {
			padding: 32px 0;
		}

		@include breakpoint(large) {
			padding: 42px 0;
		}

		@include breakpoint(xxlarge) {
			padding: 96px 0 64px;
		}

		nav.mobile-nav {
			padding-right: 16px;
			text-align: right;

			.mobile-nav-trigger {
				cursor: pointer;
				display: inline-block;
			}

			span {
				display: block;
				height: 4px;
				margin-bottom: 8px;
				background-color: $black;
				border-radius: 2px;

				&:nth-child(1) {
					width: 27px;
				}
				&:nth-child(2) {
					width: 36px;
				}
				&:nth-child(3) {
					width: 18px;
					margin-bottom: 0;
				}
			}

		}

		.logo-bar {
			display: flex;
			align-items: center;

			.logo {
				margin-right: 20px;
				position: relative;
				z-index: 2;
				min-width: 64px;

				@include breakpoint(xlarge) {
					margin-right: 32px;
				}
			}

			.company-title {
				@include font("Circular", 24px, 500, 32px);
				letter-spacing: 2px;
				vertical-align: middle;
				z-index: 2;
				position: relative;
				padding-right: 12px;
				display: inline-block;

				@include breakpoint(xlarge) {
					@include font("Circular", 28px, 500, 36px);
				}
			}

		}

	}

	.slider {

		.hero-slide {
			position: relative;

			@include breakpoint(large) {
				display: flex;
			}

			.image {
				text-align: center;
				@include breakpoint(large) {
					text-align: left;
					flex: 0 0 50%;
					align-self: center;
				}
			}

			.text-content {
				position: relative;
				padding: 20px 0;
				text-align: center;

				@include breakpoint(medium) {
					padding: 28px 0;
				}

				@include breakpoint(large) {
					text-align: left;
					align-self: flex-end;
					flex: 0 0 calc(50% + 12vw);
					right: 12vw; // equivalent to additional width from flex above
				}

				@include breakpoint(xlarge) {
					flex: 0 0 calc(50% + 5vw);
					right: 5vw; // equivalent to additional width from flex above
					padding: 36px 0;
				}

				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: $white;
					display: none;
					z-index: -1;

					@include breakpoint(large) {
						display: block;
					}
				}

				.heading {
					@extend .hero-heading-1-black;
					margin-bottom: 18px;

					@include breakpoint(medium) {
						margin-bottom: 32px;
					}
				}

				.subheading {
					@extend .hero-subheading;
				}
			}

		}

		.slider-dots-nav {
			line-height: 1em;
			text-align: center;
			padding-top: 12px;

			@include breakpoint(medium) {
				padding-top: 20px;
			}

			@include breakpoint(large) {
				text-align: left;
				padding-top: 54px;
			}

			@include breakpoint(xlarge) {
				padding-top: 72px;
			}

			span {
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: $black;
				opacity: 0.5;
				display: inline-block;
				cursor: pointer;
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}

				&.active {
					opacity: 1;
				}

			}

		}

	}

}