[data-hero-4] {

	color: $black;

	header {
		padding-top: 32px;
		padding-bottom: 32px;

		@include breakpoint(medium) {
			padding-top: 42px;
			padding-bottom: 42px;
		}

		@include breakpoint(large) {
			padding-top: 96px;
			padding-bottom: 58px;
		}

		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;

			ul {
				list-style-type: none;
				padding: 0;

				li {
					display: inline-block;
					margin: 0 14px;

					a {
						@extend .nav-links;
						position: relative;

						&:before {
							content: "";
							position: absolute;
							right: 0;
							width: 0;
							bottom: -10px;
							background: $black;
							height: 3px;
							transition-property: width;
							transition-duration: 0.15s;
							transition-timing-function: ease-out;
						}

						&:hover {
							//border-bottom: 3px solid $yellow;

							&:before {
								left: 0;
								right: auto;
								width: 100%;
							}
						}
					}

				}

			}
		}

		nav.mobile-nav {
			justify-content: flex-end;

			.mobile-nav-trigger {
				cursor: pointer;
			}

			span {
				display: block;
				height: 4px;
				width: 36px;
				margin-bottom: 6px;
				background-color: $black;
				border-radius: 2px;

				@include breakpoint(medium) {
					height: 5px;
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}

		}

	}

	.slider {
		position: relative;

		.hero-slide {

			.text-content {
				order: 2;
				padding: 32px 0;
				text-align: center;

				@include breakpoint(large) {
					padding: 32px 32px 32px 0;
					order: 1;
					text-align: left;
				}

				.heading {
					@extend .hero-heading-1-black;
					margin-bottom: 32px;
				}

				.subheading {
					@extend .hero-subheading;
				}

			}

			.image {
				order: 1;
				text-align: center;

				@include breakpoint(large) {
					text-align: right;
					order: 2;
				}

			}

		}

		.slider-dots-nav {
			line-height: 1em;
			text-align: center;

			@include breakpoint(large) {
				text-align: left;
			}

			span {
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: $black;
				opacity: 0.5;
				display: inline-block;
				cursor: pointer;
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}

				&.active {
					opacity: 1;
				}

			}

		}

	}

}
