[data-icons-3] {

	.heading {
		margin-bottom: 16px;
		@include breakpoint(large) {
			margin-bottom: 0;
		}
		@extend .heading-1;
	}

	.subheading {
		@extend .hero-subheading;

		@include breakpoint(large) {
			margin-bottom: 32px;
		}
	}

	.icon-items {
		margin-top: 32px;
		@include breakpoint(large) {
			margin-top: 54px;
		}
	}

	.icon-item {
		margin-bottom: 16px;

		&:nth-last-child(-n + 1) {
			margin-bottom: 0;
		}

		@include breakpoint(large) {
			&:nth-last-child(-n + 3) {
				margin-bottom: 0;
			}
		}

		.icon {
			@include breakpoint(large) {
				margin-bottom: 24px;
			}
		}
		.item-text {
			@extend .body-text;
		}
	}

}