[data-key-intro-3] {

	table {
		margin-bottom: 54px;
	}

	.table-cell {
		margin-top: 32px;
		@include breakpoint(medium) {
			margin-top: 18px;
		}
		@include breakpoint(large) {
			margin-top: 18px;
		}
	}

	.key-heading {
		@include font("Circular", 24px, 500, 40px);
		margin-bottom: 20px;
	}

	.info-table {
		@include font("Karla", 16px, 400, 22px);
		width: 100%;

		tr>td {
			padding-bottom: 16px;
		}

		tr:last-child>td {
			padding-bottom: 0;
		}

		td:nth-child(2n + 1) {
			width: 48%;
			padding-right: 8px;
		}

		td:nth-child(2n + 2) {
			width: 52%;
		}

		a {
			display: inline-block;
			margin-right: 6px;
			border-bottom: 1px solid $grey;
		}

	}

	hr {
		margin: 32px 0;

		@include breakpoint(medium) {
			margin: 54px 0;
		}
	}


	.heading {
		@extend .heading-2;

		@include breakpoint(large) {
			margin-bottom: 24px;
		}
	}

	p {
		@extend .body-text;

		@include breakpoint(large) {
			margin-bottom: 32px;
		}
	}

	.cta-row {
		margin-top: 32px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;

		@include breakpoint(medium) {
			flex-direction: row;
		}

		.current-support {
			@include font("Karla", 18px, 700, 28px);
			position: relative;
			padding-left: 50px;
			margin-top: 24px;

			@include breakpoint(medium) {
				margin-top: 0;
				margin-left: 42px;
			}

			&:before {
				content: '';
				width: 30px;
				height: 28px;
				background-image: url( /assets/images/icon-thumb-up.svg );
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				position: absolute;
				left: 0;
				top: calc(50% - 18px);
			}
		}

	}

}