[data-stats-1] {

	.component-title {
		@extend .heading-1;
		margin-bottom: 32px;

		@include breakpoint(medium) {
			margin-bottom: 32px;
		}

		@include breakpoint(large) {
			margin-bottom: 56px;
		}
	}

	p {
		@extend .body-text;
	}

	.text-content {
		margin-bottom: 32px;

		@include breakpoint(large) {
			padding-right: 40px;
			margin-bottom: 0;
		}

		&>*:first-child {
			margin-top: 0;
		}
	}

	.stat-item {
		
		margin-bottom: 32px;
		@include breakpoint(small down) {
			&:last-child {
				margin-bottom: 0;
			}
		}

		@include breakpoint(medium) {
			margin-bottom: 48px;
			&:nth-last-child(-n + 2) {
				margin-bottom: 0;
			}
			&:nth-child(2n + 1) {
				padding-right: 12px;
			}

			&:nth-child(2n + 2) {

				padding-left: 12px;

			}
		}
	}

}