{#

	Site Nav

	uses global navLinks
		[
			navigationLink:
			[
				navLink {linkit}
			]
		]

#}

{# parameters #}
{% set navLinks = params.navLinks ?? siteHeader.ampGlobSiteNavLinks %}

{# output #}
{% for link in navLinks %}

	{% set linkUrl = link.navLink.url %}

	<li><a href="{{ linkUrl }}">{{ link.navLink.text }}</a></li>

{% endfor %}