{#

	Site Nav

	uses global navLinks
		[
			navigationLink:
			[
				linkText {plain text}
				linkEntry {entry - max 1}
				linkUrl {plain text}
			]
		]

#}

{# parameters #}
{% set navLinks = params.navLinks ?? siteHeader.ampGlobSiteNavLinks %}

{# output #}
{% for link in navLinks %}

	{% if link.linkEntry|length %}
		{% set linkUrl = link.linkEntry.one.url %}
	{% else %}
		{% set linkUrl = link.linkUrl %}
	{% endif %}

	<li><a href="{{ linkUrl }}">{{ link.linkText }}</a></li>

{% endfor %}