{#

	Site Nav

	uses global navLinks
		[
			navigationLink:
			[
				linkText {plain text}
				linkEntry {entry - max 1}
				linkUrl {plain text}
			]
		]

#}

{# parameters #}
{% set navLinks = params.navLinks ?? siteHeader.ampGlobSiteNavLinks %}

{# output #}
{% for link in navLinks %}

	{% set linkUrl = link.navLink.url %}

	<li><a href="{{ linkUrl }}">{{ link.linkText }}</a></li>

{% endfor %}