{#

	Site Nav

	uses global navLinks
		[
			navigationLink:
			[
				navLink {linkit}
			]
		]

#}

{# parameters #}
{% set navLinks = params.navLinks ?? siteHeader.ampGlobSiteNavLinks %}

{# output #}
{% for link in navLinks %}

	{% if link.navLink.text is defined and link.navLink.text != '' %}

		{% set linkUrl = link.navLink.url %}

		<li><a href="{{ linkUrl }}">{{ link.navLink.text }}</a></li>

	{% endif %}

{% endfor %}