<div class="image-card">

	<a href="#"><img src="{{ imageUrl }}"></a>

	<div class="intro-title">September 15, 2019</div>

	<a href="#" class="title">Local community gathering event lead by JOL Architects</a>

</div>