{% import '_macros/_components' as renderComponent %}

{% extends "_layout" %}

{% block content %}

	<div class="grid-container">
		<br/>
		<a href="#open-ar-modal" class="button button-square button-black">Open AR Modal</a>

	</div>

	{{
		renderComponent.modalAr1({

		})
	}}

	<script>
	  var template = 'page';
	</script>

{% endblock %}
