.button {
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	transition: top 0.2s;
	top: 0px;
	display: inline-block;
	border: none;

	&:hover {
		top: -5px;
	}

	&.button-square {
		@include font("Karla", 18px, 700, 31px);
		letter-spacing: 0.5px;
		padding: 20px 32px;
		@include breakpoint(medium) {
			padding: 22px 48px;
		}

		&.button-square-thin {
			padding: 20px 24px;
			@include breakpoint(medium) {
				padding: 22px 30px;
			}
		}
	}

	&.button-black {
		background-color: $black;
		color: $white;
	}

}