

@mixin content-image-2{

	.content-cell {
		margin-bottom: 32px;

		@include breakpoint(large) {
			margin-bottom: 0;
		}

		.heading {
			@extend .heading-2;
			color: $contentImage2_headingColor;
			margin-bottom: 4px;

			@include breakpoint(large) {
				margin-bottom: 36px;
			}
		}

		p {
			@extend .body-text;
			color: $contentImage2_bodyColor;
		}

		.cta {
			margin-top: 32px;
			@include breakpoint(large) {
				margin-top: 50px;
			}
		}

	}

	.image-cell {
		text-align: center;
		margin-bottom: 18px;

		@include breakpoint(medium) {
			&:nth-last-child(-n + 2) {
				margin-bottom: 0;
			}
		}
		@include breakpoint(large) {
			position: relative;
			top: -20px;
			margin-bottom: 24px;


		}
	}

}

[data-content-image-2] {
	@if $initDefaultComponents{
		@include content-image-2;
	}
}
