

@mixin content-with-links-1{
	.component-title {
		@extend .heading-2;
		color: $contentWithLinks1_headingColor;
		margin-bottom: 16px;

		@include breakpoint(medium) {
			margin-bottom: 24px;
		}
	}

	p {
		@extend .body-text;
		color: $contentWithLinks1_bodyColor;
	}

	.two-col {
		columns: 1;

		@include breakpoint(medium) {
			columns: 2;
			column-gap: 40px;
		}

		p {
			display: inline-block;
		}
	}

	.sidebar-links {
		a{
			color: $contentWithLinks1_sidebarLinksColor;
		}
		@include breakpoint(large) {
			padding-left: 40px;
		}
	}

	.cta {
		margin-top: 16px;

		@include breakpoint(medium) {
			margin-top: 32px;
		}

		@include breakpoint(large) {
			margin-top: 44px;
		}
	}
}

[data-content-with-links-1] {
	@include content-with-links-1;
}
