

@mixin content-image-3{
	.heading {
		@extend .heading-2;
		color: $contentImage3_headingColor;
		@include breakpoint(large) {
			margin-bottom: 28px;
		}
	}

	p {
		@extend .body-text;
		color: $contentImage3_bodyColor;
		@include breakpoint(large) {
			margin-bottom: 28px;
		}
	}

	.cta {
		margin-top: 12px;

		@include breakpoint(medium) {
			margin-top: 18px;
		}

		@include breakpoint(large) {
			margin-top: 0;
		}
	}

	.images-grid {
		margin-top: 32px;
		@include breakpoint(medium) {
			margin-top: 42px;
		}
		@include breakpoint(large) {
			margin-top: 32px;
		}
	}

	.image-cell {
		text-align: center;
		margin-bottom: 18px;

		@include breakpoint(medium) {
			&:nth-last-child(-n + 2) {
				margin-bottom: 0;
			}
		}
		@include breakpoint(large) {
			position: relative;
			margin-bottom: 24px;


		}
	}
}

[data-content-image-3] {
	@include content-image-3;
}
