@mixin cta-email-1{
	.left {

		.heading {
			@include heading-2;
			color: $ctaEmail1_headingColor;
			text-align: center;

			@include breakpoint(large) {
				text-align: left;
			}
		}

	}

	.right {
		text-align: center;

		@include breakpoint(large) {
			padding-left: 32px;
			text-align: left;
		}

		.text-content {
			margin-bottom: 24px;

			@include breakpoint(large) {
				margin-bottom: 40px;
			}

			p {
				@include body-text;
				color: $ctaEmail1_bodyColor;

				&:first-child {
					@include breakpoint(large) {
						margin-top: 12px;
					}
				}
			}

		}

		form {
			margin-top: 8px;

			@include breakpoint(large) {
				padding-right: 54px;
			}

			input[type="submit"], button {
				margin-top: 12px;

				@include breakpoint(medium) {
					margin-top: 20px;
				}
			}

			label:not(.error) {
				display: none;
			}

			label.error {
				display: block;
				margin-top: 8px;
				color: red;
				text-align: left;
			}

		}

	}
}

[data-cta-email-1] {
	@include cta-email-1;
}
