

@mixin footer-columns{

	@include font($font-family2, 18px, 400, 26px);
	background-color: $footerColumns_backgroundColor;
	color: $footerColumns_bodyColor;
	text-align: center;

	@include breakpoint(large) {
		text-align: left;
	}

	a {
		color: $footerColumns_linkColor;
		font-weight: 700;
	}

	.social-links {
		@include font("SS Social Circle", 34px, 400, 34px);
		font-feature-settings: "liga" 1;
		position: relative;
		margin-top: 24px;

		@include breakpoint(medium) {
			margin-top: 36px;
		}

		@include breakpoint(large) {
			top: 24px;
			margin-top: 0px;
		}

		a {
			margin: 0 10px;
		}
	}
}

[data-footer-columns] {
	@include footer-columns;
}
