@mixin gallery-5{

	.slider {
		position: relative;

		.gallery-slide {

			.text-content {
				order: 2;
				padding: 32px 0;
				text-align: center;

				@include breakpoint(large) {
					padding: 32px 32px 32px 0;
					order: 1;
					text-align: left;
				}

				.heading {
					@extend .heading-1;
					color: $gallery5_headingColor;
					margin-bottom: 32px;
				}

				.subheading {
					color: $gallery5_subheadingColor;
					@extend .intro;
				}

			}

			.image {
				order: 1;
				text-align: center;

				@include breakpoint(large) {
					text-align: right;
					order: 2;
				}

			}

		}

		.slider-dots-nav {
			line-height: 1em;
			text-align: center;

			@include breakpoint(large) {
				text-align: left;
			}

			span {
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: $gallery5_dotColor;
				opacity: 0.5;
				display: inline-block;
				cursor: pointer;
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}

				&.active {
					background-color: $gallery5_activeDotColor;
					opacity: 1;
				}

			}

		}

	}

}

[data-gallery-5] {
	@include gallery-5;
}

