

@mixin gallery-1{

	background-color: $gallery1_backgroundColor;
	overflow: hidden;
	padding: 0 10px;

	@include breakpoint(medium) {
		padding: 0;
	}

	.slick-slider {

		.slick-list {
			margin: 0 -16px;

			@include breakpoint(medium) {
				margin: 0 -24px;
			}

			@include breakpoint(large) {
				margin: 0 -12px;
			}

			@include breakpoint(xlarge) {
				margin: 0 -18px;
			}

			@include breakpoint(xxlarge) {
				margin: 0 -26px;
			}
		}

		.slick-slide {
			margin: 0 16px;

			@include breakpoint(medium) {
				margin: 0 24px;
			}

			@include breakpoint(large) {
				margin: 0 12px;
			}

			@include breakpoint(xlarge) {
				margin: 0 18px;
			}

			@include breakpoint(xxlarge) {
				margin: 0 26px;
			}
		}

		.gallery-item {
			opacity: 0.5;
			transition: opacity 0.25s;

			.image {
				img {
					width: 100%;
				}
			}

			.content {
				background-color: $gallery1_contentBackgroundColor;
				padding: 34px 34px;

				h3 {
					@extend .heading-2;
					color: $gallery1_headingColor;
				}

				p {
					@extend .body-text;
					color: $gallery1_bodyColor;

					&:first-of-type {
						margin-top: 8px;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}

			}

		}

		.slick-current {
			.gallery-item {
				opacity: 1;
			}
		}

		.slick-dots {
			position: relative;
			margin-top: 48px;

			li {

				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: $gallery1_dotColor;
				opacity: 0.5;
				display: inline-block;
				cursor: pointer;
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}

				&.slick-active {
					background-color: $gallery1_activeDotColor;
					opacity: 1;
				}

				button {
					visibility: hidden;
				}

			}

		}

	}
}

[data-gallery-1] {
	@include gallery-1;
}
