

@mixin gallery-3{
	overflow: hidden;
	position: relative;

	.sliders-wrapper {
		position: relative;
	}

	.heading {
		@include heading-2;
		color: $gallery3_headingColor;
		margin-bottom: 8px;
	}

	p {
		@include body-text;
		color: $gallery3_bodyColor;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.gallery-content-cell {
		background-color: $gallery3_contentBackgroundColor;
		position: relative;
		z-index: 1;
	}

	.gallery-main {
		.Wallop-item {
			text-align: center;
		}
	}

	.gallery-content {

		.content {
			background-color: $white;
			margin-top: 24px;

			@include breakpoint(medium) {
				margin-top: 0;
			}

			@include breakpoint(large) {
				padding-top: 6px;
				padding-bottom: 6px;
				padding-left: 20px;
			}

			@include breakpoint(xxlarge) {
				padding-top: 14px;
				padding-bottom: 14px;
			}
		}

	}

	.gallery-left, .gallery-right {
		position: absolute;
		top: 0;
		display: none;

		@include breakpoint(large) {
			display: block;
		}
	}

	.gallery-left {

	}

	.gallery-right {

	}

	.slider-dots-nav {
		text-align: center;
		margin: 24px 0 0;

		@include breakpoint(large) {
			margin: 20px 0 0;
			text-align: left;
		}

		@include breakpoint(xlarge) {
			margin: 28px 0 0;
		}

		@include breakpoint(xxlarge) {
			margin: 32px 0 0;
		}

		span {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: $gallery3_dotColor;
			opacity: 0.5;
			display: inline-block;
			cursor: pointer;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			&.active {
				background-color: $gallery3_activeDotColor;
				opacity: 1;
			}

		}

	}
}

[data-gallery-3] {
	@include gallery-3;
}
