@mixin gallery-6{

	.slider {

		.gallery-slide {
			position: relative;

			@include breakpoint(large) {
				display: flex;
			}

			.image {
				text-align: center;
				@include breakpoint(large) {
					text-align: left;
					flex: 0 0 50%;
					align-self: center;
				}
			}

			.text-content {
				position: relative;
				padding: 20px 0;
				text-align: center;

				@include breakpoint(medium) {
					padding: 28px 0;
				}

				@include breakpoint(large) {
					text-align: left;
					align-self: flex-end;
					flex: 0 0 calc(50% + 12vw);
					right: 12vw; // equivalent to additional width from flex above
				}

				@include breakpoint(xlarge) {
					flex: 0 0 calc(50% + 5vw);
					right: 5vw; // equivalent to additional width from flex above
					padding: 36px 0;
				}

				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: $white;
					display: none;
					z-index: -1;

					@include breakpoint(large) {
						display: block;
					}
				}

				.heading {
					@extend .heading-1;
					color: $gallery6_headingColor;
					margin-bottom: 18px;

					@include breakpoint(medium) {
						margin-bottom: 32px;
					}
				}

				.subheading {
					color: $gallery6_subheadingColor;
					@extend .intro;
				}
			}

		}

		.slider-dots-nav {
			line-height: 1em;
			text-align: center;
			padding-top: 12px;

			@include breakpoint(medium) {
				padding-top: 20px;
			}

			@include breakpoint(large) {
				text-align: left;
				padding-top: 54px;
			}

			@include breakpoint(xlarge) {
				padding-top: 72px;
			}

			span {
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: $gallery6_dotColor;
				opacity: 0.5;
				display: inline-block;
				cursor: pointer;
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}

				&.active {
					background-color: $gallery6_activeDotColor;
					opacity: 1;
				}

			}

		}

	}

}

[data-gallery-6] {
	@include gallery-6;
}
