

@mixin hero-1{

	position: relative;
	color: $white;

	.slider {
		position: relative;

		.hero-slide {
			min-height: 400px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding-left: 10%;
			padding-right: 10%;
			padding-top: 72px;
			padding-bottom: 92px;
			text-align: center;

			@include breakpoint(medium) {
				padding-top: 124px;
				padding-bottom: 142px;
			}


			@include breakpoint(large) {
				min-height: 600px;
				padding-left: 45%;
				padding-right: 5%;
				text-align: left;
				padding-bottom: 164px;
				padding-top: 140px;
			}

			@include breakpoint(xlarge) {
				min-height: 700px;
				padding-bottom: 248px;
				padding-top: 184px;
			}

			.heading {
				@include heading-1;
				color: $hero2_headingColor;
				margin-bottom: 32px;

				@include breakpoint(xlarge) {
					margin-bottom: 42px;
				}
			}

			.subheading {
				@include intro;
				color: $hero2_subheadingColor;
			}
		}

		.next-slide-btn, .previous-slide-btn {
			width: 60px;
			height: 11px;
			background-repeat: no-repeat;
			position: absolute;
			z-index: 1;
			bottom: 24px;
			cursor: pointer;
			transition: opacity 0.2s;
			z-index: 99;

			&:hover {
				opacity: 0.6;
			}

			@include breakpoint(medium) {
				bottom: 42px;
			}

			@include breakpoint(large) {
				bottom: 68px;
			}
		}

		.previous-slide-btn {
			background-image: url( /assets/images/slider-arrow-left.svg );
			left: calc(50% - 75px);
		}

		.next-slide-btn {
			background-image: url( /assets/images/slider-arrow-right.svg );
			right: calc(50% - 75px);
		}

	}

}

[data-hero-1] {
	@include hero-1;
}

.hero-overlay + [data-hero-1] {

	.slider {

		.hero-slide {

			padding-top: 154px;

			@include breakpoint(medium) {
				padding-top: 192px;
			}

			@include breakpoint(large) {
				padding-top: 224px;
			}

			@include breakpoint(xlarge) {
				padding-top: 300px;
			}

		}

	}

}
