@mixin image-cards-2{
	.cell {

		margin-bottom: 28px;

		&:last-child {
			margin-bottom: 0;
		}

		@include breakpoint(medium) {
			margin-bottom: 32px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@include breakpoint(large) {
			margin-bottom: 40px;

			&:nth-last-child(-n + 2) {
				margin-bottom: 0;
			}
		}
	}
}

[data-image-cards-2] {
	@if $initDefaultComponents{
		@include image-cards-2;
	}
}
