@mixin image-cards-4{
	.cell {

		margin-bottom: 28px;

		&:last-child {
			margin-bottom: 0;
		}

		@include breakpoint(medium) {
			margin-bottom: 32px;

			&:nth-last-child(-n + 2) {
				margin-bottom: 0;
			}
		}

		@include breakpoint(large) {
			margin-bottom: 40px;

			&:nth-last-child(-n + 4) {
				margin-bottom: 0;
			}
		}
	}

	.image-card {

		div.image {

			padding-bottom: 78.125%;

		}

	}
}

[data-image-cards-4] {
	@include image-cards-4;
}
