<section data-content-2 data-component>

	<div class="grid-container">

		<div class="grid-x">

			<div class="cell small-12">

				<h2 class="section-title">Section Title</h2>

			</div>

		</div>

		<div class="grid-x">

			<div class="cell small-12 medium-6 large-5">

				<h3 class="component-title">West Bay 2727 is a mixed-use development project on a 12-acre East Boston Waterfront site overlooking Boston Harbor.</h3>

				{# optional cta #}
				<div class="cta">

					<a class="button button-square button-black">Optional Button</a>

				</div>

			</div>

			<div class="cell small-12 medium-6 large-4 large-offset-1 text-content">

				<p>
					Opening Fall 2020, the under-construction project would have four buildings total and will feature 478 residences with approximately 30,200 square feet of retail and community space, including a cafe and a restaurant.
				</p>

				<p>
					Opening Fall 2020, the under-construction project would have four buildings total and will feature 478 residences with approximately 30,200 square feet of retail and community space, including a cafe and a restaurant.
				</p>

				<p>
					Opening Fall 2020, the under-construction project would have four buildings total and will feature 478 residences with approximately 30,200 square feet of retail and community space, including a cafe and a restaurant.
				</p>

			</div>

		</div>

	</div>

</section>