<section data-component data-contact-1 class="form-left">

	<div class="grid-container">

		<div class="grid-x grid-margin-x">

			<div class="cell small-12 large-7 text-content">

				<h2 class="heading">Stay Tuned Eastern Waterfront Property in Boston Harbor</h2>

				<p>
					The under-construction project would have four buildings total and will feature 478 residences with approximately 30,200 square feet of retail and community space.
				</p>

				<p>
					Blue bottle chillwave selvage semiotics swag leggings tofu portland irony tilde. Literally small batch thundercats gastropub, tilde umami chartreuse lomo kitsch cliche taxidermy trust fund synth authentic.
				</p>

			</div>

			<div class="cell small-12 large-5 form-cell">

				<form>

					<label for="your-name">Your Name</label>
					<input type="text" name="your-name">

					<label for="email">Email</label>
					<input type="text" name="email">

					<label for="phone">Phone</label>
					<input type="text" name="phone">

					<label for="comments">Comments</label>
					<textarea rows="4" type="text" name="comments"></textarea>

					<input class="button button-square button-black" type="submit" value="Submit">

				</form>

			</div>
{#
			<div class="cell small-12 large-7 text-content">

				<h2 class="heading">Stay Tuned Eastern Waterfront Property in Boston Harbor</h2>

				<p>
					The under-construction project would have four buildings total and will feature 478 residences with approximately 30,200 square feet of retail and community space.
				</p>

				<p>
					Blue bottle chillwave selvage semiotics swag leggings tofu portland irony tilde. Literally small batch thundercats gastropub, tilde umami chartreuse lomo kitsch cliche taxidermy trust fund synth authentic.
				</p>

			</div>
#}
		</div>

	</div>

</section>