<section data-component data-content-image-4>

	<div class="grid-container">

		<div class="grid-x grid-margin-x align-middle image-right">

			<div class="cell small-12 medium-7 large-5 large-offset-1 content">

				<h2 class="heading">West Bay 2727 is a mixed-use development project.</h2>

				<p>
					Opening Fall 2020, the under-construction project would have four buildings total and will feature 478 residences with approximately 30,200 square feet of retail and community space, including a cafe four buildings total and will feature 478 residences.
				</p>

				<p>
					Retail and community space, including a cafe four buildings total. Retail and community space, including a cafe four buildings total and will feature 478 residences.
				</p>

			</div>

			<div class="cell small-12 medium-5 large-4 image-cell">
				<img src="https://via.placeholder.com/445x500">
			</div>

		</div>

		<div class="grid-x grid-margin-x align-middle image-left">

			<div class="cell small-12 medium-5 large-4 large-offset-1 image-cell">
				<img src="https://via.placeholder.com/445x500">
			</div>

			<div class="cell small-12 medium-7 large-5 content">

				<h2 class="heading">Opening Fall 2020 including retail and community space.</h2>

				<p>
					The under-construction project would have four buildings total and will feature 478 residences with approximately 30,200 square feet of retail and community space.
				</p>

				<p>
					Including a cafe four buildings total and will feature 478 residences. Retail and community space, including a cafe four buildings total.
				</p>

			</div>

		</div>

	</div>

</section>