{#

	CTA Email 2

	@param {plain text} ctaEmail2HeadingText
	@param {redactor} ctaEmail2TextContent
	@param {plain text} ctaEmail2PlaceholderText
	@param {plain text} ctaEmail2SubmitButtonText

#}

{# Parameters #}
{% set ctaEmail2HeadingText = params.ctaEmail2HeadingText ?? '' %}
{% set ctaEmail2TextContent = params.ctaEmail2TextContent ?? '' %}
{% set ctaEmail2PlaceholderText = params.ctaEmail2PlaceholderText ?? '' %}
{% set ctaEmail2SubmitButtonText = params.ctaEmail2SubmitButtonText ?? '' %}

{# Variables #}
{% if ctaEmail2SubmitButtonText == '' %}
		{% set submitBtnText = 'Submit' %}
{% else %}
	{% set submitBtnText = ctaEmail2SubmitButtonText %}
{% endif %}

{# Output #}
<section data-component data-cta-email-2>

	<div class="grid-container">

		<div class="grid-x">

			<div class="cell small-12 medium-12 large-8 large-offset-0">

				<h2 class="heading">{{ ctaEmail2HeadingText }}</h2>

				{{ ctaEmail2TextContent }}

				{{ craft.sproutForms.displayForm( 'emailSignup' ) }}

			</div>

		</div>

	</div>

</section>