<section data-component data-cta-email-1>

	<div class="grid-container">

		<div class="grid-x">

			<div class="cell small-12 medium-10 medium-offset-1 large-4 large-offset-0 left">

				<h2 class="heading">Eastern Waterfront in Boston Harbor Coming 2020</h2>

			</div>

			<div class="cell small-12 medium-10 medium-offset-1 large-7 large-offset-0 right">

				<p>
					The under-construction project would have four buildings total and will feature 478 residences with approximately 30,200 square feet of retail and community space. The under-construction project would have four buildings.
				</p>

				<form>
					<div class="input-wrap">
						<input type="email" name="email">
					</div>
					<input class="button button-square button-black" type="submit" value="Submit">
				</form>

			</div>

		</div>

	</div>

</section>