<footer data-footer-logos data-component>

	<div class="grid-container">

		<div class="grid-x logos" data-equalizer data-equalize-on="medium">

			<div class="cell medium-auto logo-item">
				<div class="logo" data-equalizer-watch>
					<img src="/assets/images/placeholder-logo1.png">
				</div>
				<div class="text">
					The primary architect is a worldwide leader in forward thinking spaces.
				</div>
			</div>

			<div class="cell medium-auto logo-item">
				<div class="logo" data-equalizer-watch>
					<img src="/assets/images/placeholder-logo2.png">
				</div>
				<div class="text">
					With input from the Boston Fine Arts group.
				</div>
			</div>

			<div class="cell medium-auto logo-item">
				<div class="logo" data-equalizer-watch>
					<img src="/assets/images/placeholder-logo3.png">
				</div>
				<div class="text">
					The civil engineer on the project has over 40 years of experience in the area.
				</div>
			</div>

			<div class="cell medium-auto logo-item">
				<div class="logo" data-equalizer-watch>
					<img src="/assets/images/placeholder-logo4.png">
				</div>
				<div class="text">
					Consideration and support from the City of Boston planning department.
				</div>
			</div>

			<div class="cell medium-auto logo-item">
				<div class="logo" data-equalizer-watch>
					<img src="/assets/images/placeholder-logo5.png">
				</div>
				<div class="text">
					Our consultant partner helps make the best decisions for the area.
				</div>
			</div>

		</div>

	</div>

</footer>