<footer data-footer-columns data-component>

	<div class="grid-container">

		<div class="grid-x">

			<div class="cell small-12 large-3">

				<p>
					<strong>West Bay 2727</strong><br/>
					4040 United Street<br/>
					Suite #100<br/>
					Boston, MA 55555
				</p>

			</div>

			<div class="cell small-12 large-3">

				<p>
					Phone: (243) 566-0090<br/>
					Fax (234 (566) 0091<br/>
					Email: info@project.com
				</p>
				
			</div>

			<div class="cell small-12 large-3">

				<p>
					<a href="#">West Bay 2727</a><br/>
					<a href="#">Residences</a><br/>
					<a href="#">Neighborhood</a><br/>
					<a href="#">Contact</a>
				</p>
				
			</div>

			<div class="cell small-12 large-3">

				<div class="social-links">
					<a href="#">twitter</a>
					<a href="#">linkedin</a>
					<a href="#">instagram</a>
				</div>
				
			</div>

		</div>

	</div>

</footer>