<footer data-footer-contacts data-component>

	<div class="grid-container">

		<div class="cell small-12">

			<h3 class="component-title">Project Contacts</h3>

		</div>

	</div>

	<div class="grid-container">

		<div class="grid-x logos" data-equalizer data-equalize-on="medium">

			<div class="cell medium-auto contact-item">
				<p>
					<strong>Mike Stanley</strong><br/>
					Project Director</br>
					mike@2727boston.com
				</p>
			</div>

			<div class="cell medium-auto contact-item">
				<p>
					<strong>Rick Perless</strong><br/>
					Zoning & Construction</br>
					rick@2727boston.com
				</p>
			</div>

			<div class="cell medium-auto contact-item">
				<p>
					<strong>Lisa Daniels</strong><br/>
					Event Specialist</br>
					events@2727boston.com
				</p>
			</div>

			<div class="cell medium-auto contact-item">
				<p>
					<strong>Rick Perless</strong><br/>
					Zoning & Construction</br>
					rick@2727boston.com
				</p>
			</div>

			<div class="cell medium-auto contact-item">
				<p>
					<strong>Lisa Daniels</strong><br/>
					Event Specialist</br>
					events@2727boston.com
				</p>
			</div>

		</div>

	</div>

</footer>