{#

	Gallery 2

	@param {matrix} gallery2WideImageSlides
		[
			wideImageSlide:
			[
				wideImage {asset - image - max 1}
				headingText {plain text}
				textContent {redactor}
			]
		]

#}

{# Parameters #}
{% set gallery2WideImageSlides = params.gallery2WideImageSlides ?? null %}

{# Variables #}
{%
	set imgResize = {
		mode: 'crop',
		width: 942,
		height: 600
	}
%}

{# Output #}
<section data-component data-gallery-2>

	<div class="grid-container">

		<div class="grid-x grid-margin-x">

			<div class="cell small-12 large-8">

				<div class="slider Wallop images-slider Wallop--fade">

					<div class="Wallop-list">

						{% for imageSlide in gallery2WideImageSlides %}

							{% set imageUrl = craft.imager.transformImage(imageSlide.wideImage.one, imgResize).url %}

							<div class="Wallop-item gallery-image">

								<img src="{{ imageUrl }}">

							</div>

						{% endfor %}

					</div>

				</div>

			</div>

			<div class="cell small-12 large-4">

				{% if gallery2WideImageSlides|length > 1 %}

					<div class="slider-dots-nav">

						{% for i in range(0, gallery2WideImageSlides|length - 1) %}
							<span data-slide-index="{{ i }}"></span>
						{% endfor %}

					</div>

				{% endif %}

				<div class="slider Wallop text-slider Wallop--fade">

					<div class="Wallop-list">

						{% for imageSlide in gallery2WideImageSlides %}

							<div class="Wallop-item text-slide">

								<h2 class="heading">{{ imageSlide.headingText }}</h2>

								<div class="subheading">
									{{ imageSlide.textContent }}
								</div>

							</div>

						{% endfor %}

					</div>

				</div>

			</div>

		</div>

	</div>

</section>