<section data-component data-gallery-2>

	<div class="grid-container">



		<div class="grid-x grid-margin-x">



			<div class="cell small-12 large-8">



				<div class="slider Wallop Wallop--slide">

					<div class="Wallop-list">



						<div class="Wallop-item gallery-image">

							<img src="https://via.placeholder.com/1036x660">

						</div>

						<div class="Wallop-item gallery-image">

							<img src="https://via.placeholder.com/1036x660">

						</div>

						<div class="Wallop-item gallery-image">

							<img src="https://via.placeholder.com/1036x660">

						</div>



					</div>

				</div>



			</div>



			<div class="cell small-12 large-4">

				<div class="slider-dots-nav">

					{# as many spans as there are slides #}
					<span data-slide-index="0"></span>
					<span data-slide-index="1"></span>
					<span data-slide-index="2"></span>

				</div>

				<h2 class="heading">Mixed-use development project in Boston along the classic waterfront</h2>

				<p>
					Opening Fall 2020, the under-construction project would have four buildings total and will feature 478 residences with approximately 30,200 square feet of retail and community space, including a cafe and a restaurant.
				</p>

				<p>
					The project would have four buildings total and will feature 478 residences along the water.
				</p>

			</div>



		</div>



	</div>

</section>