<section data-component data-gallery-3 data-equalizer data-equalize-on="medium">


	<div class="slick-slider">



		<div class="gallery-item">

			<div class="image" style="background-image: url( https://via.placeholder.com/1036x660 );" data-equalizer-watch></div>

		</div>



		<div class="gallery-item">

			<div class="image" style="background-image: url( https://via.placeholder.com/1036x660 );" data-equalizer-watch></div>

		</div>



		<div class="gallery-item">

			<div class="image" style="background-image: url( https://via.placeholder.com/1036x660 );" data-equalizer-watch></div>

		</div>



	</div>

	<div class="content-wrap" data-equalizer-watch>

		<div class="content">

			<h2 class="heading">Mixed-use development project in Boston along the classic waterfront</h2>

			<p>
				Opening Fall 2020, the under-construction project would have four buildings total and will feature 478 residences with approximately 30,200 square feet of retail and community space, including a cafe and a restaurant.
			</p>

			<p>
				The project would have four buildings total and will feature 478 residences along the water.
			</p>


		</div>

	</div>


</section>