<section data-hero-5 data-component="hero">

	<div class="grid-container">

		<header class="grid-x align-middle">

			<div class="logo-bar cell small-8 medium-6 large-5">

				<a href="/" class="logo"><img src="/assets/images/west-bay-logo-black.svg" ></a>

				<a href="/" class="company-title show-for-medium">West Bays 27272</a>

			</div>

			<nav class="cell small-4 medium-6 large-7 mobile-nav">
				<div class="mobile-nav-trigger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>

		</header>

	</div>

	<div class="grid-container">

		<div class="slider Wallop Wallop--slide">
			
			<div class="Wallop-list">



				<div class="Wallop-item">

					<div class="hero-slide">

						<div class="image">

							<img src="http://via.placeholder.com/695x500">

						</div>

						<div class="text-content">

							<div class="heading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>
							<div class="subheading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

					</div>

				</div>

				<div class="Wallop-item">

					<div class="hero-slide">

						<div class="image">

							<img src="http://via.placeholder.com/695x500">

						</div>

						<div class="text-content">

							<div class="heading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>
							<div class="subheading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

					</div>

				</div>

				<div class="Wallop-item">

					<div class="hero-slide">

						<div class="image">

							<img src="http://via.placeholder.com/695x500">

						</div>

						<div class="text-content">

							<div class="heading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>
							<div class="subheading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

					</div>

				</div>




				
			</div>

			<div class="slider-dots-nav">

				{# as many spans as there are slides #}
				<span data-slide-index="0"></span>
				<span data-slide-index="1"></span>
				<span data-slide-index="2"></span>

			</div>

		</div>

	</div>

</section>