<section data-hero-1 data-component="hero">

	<div class="slider Wallop Wallop--slide">
		<div class="Wallop-list">
			<div class="Wallop-item hero-slide" style="background-image: url( /assets/images/placeholder-1680x750.jpg );">
				
			</div>
			<div class="Wallop-item hero-slide" style="background-image: url( /assets/images/placeholder-1680x750.jpg );">
				
			</div>
			<div class="Wallop-item hero-slide" style="background-image: url( /assets/images/placeholder-1680x750.jpg );">
				
			</div>
		</div>
		<button class="Wallop-buttonPrevious previous-slide-btn"></button>
		<button class="Wallop-buttonNext next-slide-btn"></button>
	</div>

</section>