<section data-hero-4 data-component style="background-color: #ffffff;">

	<div class="slider Wallop Wallop--fade">
		
		<div class="Wallop-list">

			<div class="Wallop-item hero-slide">

				<div class="grid-container">

					<div class="grid-x align-middle">

						<div class="cell small-12 large-7 text-content">

							<div class="heading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>
							<div class="subheading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

						<div class="cell small-12 large-5 image">

							<img src="https://via.placeholder.com/570x500">

						</div>

					</div>

				</div>

			</div>

			<div class="Wallop-item hero-slide">

				<div class="grid-container">

					<div class="grid-x align-middle">

						<div class="cell small-12 large-7 text-content">

							<div class="heading">
								Slide two. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>
							<div class="subheading">
								This is slide two. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

						<div class="cell small-12 large-5 image">

							<img src="http://via.placeholder.com/570x500">

						</div>

					</div>

				</div>

			</div>

			<div class="Wallop-item hero-slide">

				<div class="grid-container">

					<div class="grid-x align-middle">

						<div class="cell small-12 large-7 text-content">

							<div class="heading">
								Slide three. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>
							<div class="subheading">
								This is the third slide. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

						<div class="cell small-12 large-5 image">

							<img src="http://via.placeholder.com/570x500">

						</div>

					</div>

				</div>

			</div>

			
			
		</div>

		<div class="grid-container">
		
			<div class="slider-dots-nav">

				{# as many spans as there are slides #}
				<span data-slide-index="0"></span>
				<span data-slide-index="1"></span>
				<span data-slide-index="2"></span>

			</div>

		</div>

	</div>

</section>