<section data-hero-2 data-component="hero">

	<div class="header-wrapper">

		<div class="grid-container">

			<header>

				<nav class="mobile-nav">
					<div class="mobile-nav-trigger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</nav>

				<div class="logo-bar">
					<div class="logo">
						<img src="/assets/images/west-bay-logo-white.svg">
					</div>
					<div class="company-name show-for-medium">
						West Bay 2727
					</div>
				</div>

				<div class="social-links">
					<a href="#"><img src="/assets/images/social-icon-instagram.svg"></a>
				</div>

			</header>

		</div>

	</div>

	<div class="slider Wallop Wallop--fade">
		<div class="Wallop-list">
			<div class="Wallop-item hero-slide" style="background-image: url( /assets/images/placeholder-1680x750.jpg );">
				<div class="heading">
					West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
				</div>
				<div class="subheading">
					West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
				</div>
			</div>
			<div class="Wallop-item hero-slide" style="background-image: url( /assets/images/placeholder-1680x750.jpg );">
				<div class="heading">
					Second Slide. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
				</div>
				<div class="subheading">
					Slide 2. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
				</div>
			</div>
			<div class="Wallop-item hero-slide" style="background-image: url( /assets/images/placeholder-1680x750.jpg );">
				<div class="heading">
					Third Slide. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
				</div>
				<div class="subheading">
					Slide 3. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
				</div>
			</div>
		</div>
		<button class="previous-slide-btn"></button>
		<button class="next-slide-btn"></button>
	</div>

</section>