{#

	Hero 2

	@param {matrix} hero2BgImageSlides
		[
			backgroundImageSlide:
			[
				backgroundImage {asset - image - max 1}
				headingText {plain text}
				subheadingText {plain text}
			]
		]

#}

{# Macros #}
{% import 'authenticamplify/_macros/_image-transform' as imageTransform %}

{# Parameters #}
{% set hero2BgImageSlides = params.hero2BgImageSlides ?? null %}

{# Variables #}
{%
	set heroImgResize = {
		mode: 'crop',
		width: 1680,
		height: 750
	}
%}

{# Output #}
<section data-hero-2 data-component="hero">

	<div class="slider Wallop Wallop--fade">

		<div class="Wallop-list" data-equalizer data-equalize-on='' data-equalize-on-stack='true'>

			{% for bgImageSlide in hero2BgImageSlides %}

				{% set heroImageUrl = imageTransform.imageTransform(bgImageSlide.backgroundImage.one, heroImgResize) %}

				<div class="Wallop-item hero-slide" style="background-image: url( {{ heroImageUrl }} );" data-equalizer-watch>
					<div class="heading">
						{{ bgImageSlide.headingText }}
					</div>
					<div class="subheading">
						{{ bgImageSlide.subheadingText }}
					</div>
				</div>

			{% endfor %}

		</div>

		{% if hero2BgImageSlides|length > 1 %}
			<button class="previous-slide-btn"></button>
			<button class="next-slide-btn"></button>
		{% endif %}
		
	</div>

</section>