<section data-hero-5 data-component>

	<div class="grid-container">

		<div class="slider Wallop Wallop--fade">
			
			<div class="Wallop-list">



				<div class="Wallop-item">

					<div class="hero-slide">

						<div class="image">

							<img src="http://via.placeholder.com/695x500">

						</div>

						<div class="text-content">

							<div class="heading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>
							<div class="subheading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

					</div>

				</div>

				<div class="Wallop-item">

					<div class="hero-slide">

						<div class="image">

							<img src="http://via.placeholder.com/695x500">

						</div>

						<div class="text-content">

							<div class="heading">
								Slide Two. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>
							<div class="subheading">
								This is the second slide. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

					</div>

				</div>

				<div class="Wallop-item">

					<div class="hero-slide">

						<div class="image">

							<img src="http://via.placeholder.com/695x500">

						</div>

						<div class="text-content">

							<div class="heading">
								Slide Three. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>
							<div class="subheading">
								This is the third slide. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

					</div>

				</div>




				
			</div>

			<div class="slider-dots-nav">

				{# as many spans as there are slides #}
				<span data-slide-index="0"></span>
				<span data-slide-index="1"></span>
				<span data-slide-index="2"></span>

			</div>

		</div>

	</div>

</section>