<section data-hero-6 data-component="hero">

	<div class="grid-container">

		<header class="grid-x align-middle">

			<div class="logo-bar cell shrink">

				<a href="/" class="logo"><img src="/assets/images/west-bay-logo-black.svg" ></a>

			</div>

			<nav class="cell auto show-for-large">

				<ul>

					{% include "authenticamplify/_includes/site-nav" %}

				</ul>

				<div class="social-links">
					<a href="#"><img src="/assets/images/social-icon-instagram.svg"></a>
				</div>

			</nav>

			<nav class="cell auto mobile-nav hide-for-large">
				<div class="mobile-nav-trigger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>

		</header>

	</div>

	<div class="grid-container">

		<div class="slider Wallop Wallop--fade">
			
			<div class="Wallop-list">



				<div class="Wallop-item hero-slide">

					<div class="grid-x">

						<div class="cell small-12 medium-12 large-12 image">

							<img src="http://via.placeholder.com/1440x500">

						</div>

						<div class="cell small-12 medium-9 medium-offset-2 large-7 large-offset-4 text-content">

							<div class="heading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>
							<div class="subheading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

					</div>

				</div>




				<div class="Wallop-item hero-slide">

					<div class="grid-x">

						<div class="cell small-12 medium-12 large-12 image">

							<img src="http://via.placeholder.com/1440x500">

						</div>

						<div class="cell small-12 medium-9 medium-offset-2 large-7 large-offset-4 text-content">

							<div class="heading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>
							<div class="subheading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

					</div>

				</div>





				<div class="Wallop-item hero-slide">

					<div class="grid-x">

						<div class="cell small-12 medium-12 large-12 image">

							<img src="http://via.placeholder.com/1440x500">

						</div>

						<div class="cell small-12 medium-9 medium-offset-2 large-7 large-offset-4 text-content">

							<div class="heading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>
							<div class="subheading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

					</div>

				</div>



				
			</div>

			<div class="slider-dots-nav">

				{# as many spans as there are slides #}
				<span data-slide-index="0"></span>
				<span data-slide-index="1"></span>
				<span data-slide-index="2"></span>

			</div>

		</div>

	</div>

</section>