<section data-hero-1 data-component="hero">

	<div class="header-wrapper">

		<div class="grid-container">

			<header class="grid-x">

				<div class="logo-bar cell small-6 large-4">

					<a href="/" class="logo"><img src="/assets/images/west-bay-logo-black.svg" ></a>

					<a href="/" class="company-title show-for-medium">West Bays 27272</a>

				</div>

				<nav class="cell small-6 large-8 show-for-large">

					<ul>

						{% include "authenticamplify/_includes/site-nav" %}

					</ul>

					<div class="social-links">
						<a href="#"><img src="/assets/images/social-icon-instagram.svg"></a>
					</div>

				</nav>

				<nav class="cell small-6 mobile-nav hide-for-large">
					<div class="mobile-nav-trigger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</nav>

			</header>

		</div>

	</div>

	<div class="slider Wallop Wallop--slide">
		<div class="Wallop-list">
			<div class="Wallop-item hero-slide" style="background-image: url( http://via.placeholder.com/1680x750 );">
				
			</div>
			<div class="Wallop-item hero-slide" style="background-image: url( http://via.placeholder.com/1680x750 );">
				
			</div>
			<div class="Wallop-item hero-slide" style="background-image: url( http://via.placeholder.com/1680x750 );">
				
			</div>
		</div>
		<button class="Wallop-buttonPrevious previous-slide-btn"></button>
		<button class="Wallop-buttonNext next-slide-btn"></button>
	</div>

</section>