<section data-hero-3 data-component="hero">

	<div class="header-wrapper">

		<div class="grid-container">

			<header class="grid-x">

				<div class="logo-bar cell small-6 large-2 large-offset-1">

					<a href="/" class="logo"><img src="/assets/images/west-bay-logo-white.svg" ></a>

				</div>

				<nav class="cell small-6 large-9 show-for-large">

					<ul>

						{% include "authenticamplify/_includes/site-nav" %}

					</ul>

					<div class="social-links">
						<a href="#"><img src="/assets/images/social-icon-instagram.svg"></a>
					</div>

				</nav>

				<nav class="cell small-6 mobile-nav hide-for-large">
					<div class="mobile-nav-trigger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</nav>

			</header>

		</div>

	</div>

	<div class="slider Wallop Wallop--fade">

		<div class="Wallop-list">

			<div class="Wallop-item hero-slide" style="background-image: url( /assets/images/placeholder-1680x750.jpg );">

				<div class="grid-container">

					<div class="grid-x align-middle">

						<div class="cell small-12 medium-11 large-7 large-offset-1">

							<div class="heading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

							<div class="subheading">
								West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

					</div>

				</div>

			</div>

			<div class="Wallop-item hero-slide" style="background-image: url( /assets/images/placeholder-1680x750.jpg );">

				<div class="grid-container">

					<div class="grid-x align-middle">

						<div class="cell small-12 medium-11 large-7 large-offset-1">

							<div class="heading">
								Slide Two. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

							<div class="subheading">
								This is the second slide. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

					</div>

				</div>

			</div>

			<div class="Wallop-item hero-slide" style="background-image: url( /assets/images/placeholder-1680x750.jpg );">

				<div class="grid-container">

					<div class="grid-x align-middle">

						<div class="cell small-12 medium-11 large-7 large-offset-1">

							<div class="heading">
								Slide Three. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

							<div class="subheading">
								This slide is the third slide. West Bay 2727 is a mixed-use development project on the East Boston Waterfront.
							</div>

						</div>

					</div>

				</div>

			</div>

		</div>
		
		<div class="grid-container">

			<div class="grid-x">

				<div class="cell small-12 large-11 large-offset-1 slider-dots-nav-cell">
		
					<div class="slider-dots-nav">

						{# as many spans as there are slides #}
						<span data-slide-index="0"></span>
						<span data-slide-index="1"></span>
						<span data-slide-index="2"></span>

					</div>

				</div>

			</div>

		</div>

	</div>

</section>