{#

	Hero 5

	@param {matrix} hero5RectImageSlides
		[
			rectangleImageSlide:
			[
				rectangleImage {asset - image - max 1}
				headingText {plain text}
				subheadingText {plain text}
			]
		]

#}

{# Parameters #}
{% set hero5RectImageSlides = params.hero5RectImageSlides ?? null %}

{# Variables #}
{%
	set heroImgResize = {
		mode: 'crop',
		width: 695,
		height: 500
	}
%}

{# Output #}
<section data-hero-5 data-component>

	<div class="grid-container">

		<div class="slider Wallop Wallop--fade">
			
			<div class="Wallop-list" data-equalizer data-equalize-on='' data-equalize-on-stack='true'>

				{% for rectangleImageSlide in hero5RectImageSlides %}

					{% set heroImageUrl = craft.imager.transformImage(rectangleImageSlide.rectangleImage.one, heroImgResize).url %}

					<div class="Wallop-item">

						<div class="hero-slide" data-equalizer-watch>

							<div class="image">

								<img src="{{ heroImageUrl }}">

							</div>

							<div class="text-content">

								<div class="heading">
									{{ rectangleImageSlide.headingText }}
								</div>
								<div class="subheading">
									{{ rectangleImageSlide.subheadingText }}
								</div>

							</div>

						</div>

					</div>

				{% endfor %}

			</div>

			{% if hero5RectImageSlides|length > 1 %}

				<div class="slider-dots-nav">

					{% for i in range(0, hero5RectImageSlides|length - 1) %}
						<span data-slide-index="{{ i }}"></span>
					{% endfor %}

				</div>

			{% endif %}

		</div>

	</div>

</section>