{#

	Hero 4

	@param {matrix} hero4SquareImageSlides
		[
			squareImageSlide:
			[
				squareImage {asset - image - max 1}
				headingText {plain text}
				subheadingText {plain text}
			]
		]

#}

{# Parameters #}
{% set hero4SquareImageSlides = params.hero4SquareImageSlides ?? null %}

{# Variables #}
{%
	set heroImgResize = {
		mode: 'crop',
		width: 570,
		height: 500
	}
%}

{# Output #}
<section data-hero-4 data-component>

	<div class="slider Wallop Wallop--fade">
		
		<div class="Wallop-list" data-equalizer data-equalize-on='' data-equalize-on-stack='true'>

			{% for squareImageSlide in hero4SquareImageSlides %}

				{% set heroImageUrl = craft.imager.transformImage(squareImageSlide.squareImage.one, heroImgResize).url %}

				<div class="Wallop-item hero-slide">

					<div class="grid-container">

						<div class="grid-x align-middle" data-equalizer-watch>

							<div class="cell small-12 large-7 text-content">

								<div class="heading">
									{{ squareImageSlide.headingText }}
								</div>
								<div class="subheading">
									{{ squareImageSlide.subheadingText }}
								</div>

							</div>

							<div class="cell small-12 large-5 image">

								<img src="{{ heroImageUrl }}">

							</div>

						</div>

					</div>

				</div>

			{% endfor %}

		</div>

		{% if hero4SquareImageSlides|length > 1 %}

			<div class="grid-container">
			
				<div class="slider-dots-nav">

					{% for i in range(0, hero4SquareImageSlides|length - 1) %}
						<span data-slide-index="{{ i }}"></span>
					{% endfor %}

				</div>

			</div>

		{% endif %}

	</div>

</section>