{#

	Icons 1

	@param {plain text} icons1SectionTitle
	@param {plain text} icons1HeadingText
	@param {plain text} icons1SubheadingText
	@param {matrix} icons1IconItems
		[
			iconItem:
			[
				icon {assets - image - max 1}
				text {plain text}
			]
		]

#}

{# Macros #}
{% import 'authenticamplify/_macros/_image-transform' as imageTransform %}

{# Parameters #}
{% set icons1SectionTitle = params.icons1SectionTitle ?? '' %}
{% set icons1HeadingText = params.icons1HeadingText ?? '' %}
{% set icons1SubheadingText = params.icons1SubheadingText ?? '' %}
{% set icons1IconItems = params.icons1IconItems ?? null %}

{# Variables #}
{%
	set iconImgResize = {
		mode: 'fit',
		width: 50,
		height: 50
	}
%}

{# Output #}
<section data-component data-icons-1>

	<div class="grid-container">

		{% if icons1SectionTitle != '' %}

			<div class="grid-x">

				<div class="cell small-12">

					<h2 class="section-title">Section Title</h2>

				</div>

			</div>

		{% endif %}

		<div class="grid-x">

			<div class="cell small-12 large-10">

				<h2 class="heading">{{ icons1HeadingText }}</h2>

			</div>

			{% if icons1SubheadingText != '' %}

				<div class="cell small-12 large-9">

					<h3 class="subheading">{{ icons1SubheadingText }}</h3>

				</div>

			{% endif %}

		</div>

		<div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-4">

			{% for iconItem in icons1IconItems %}

				{% set iconImageUrl = imageTransform.imageTransform(iconItem.icon.one, iconImgResize) %}

				<div class="cell icon-item">

					<div class="icon">
						<img src="{{ iconImageUrl }}">
					</div>

					<p class="item-text">
						{{ iconItem.text }}
					</p>

				</div>

			{% endfor %}

		</div>

	</div>

</section>