<section data-component data-icons-4>

	<div class="grid-container">

		<div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-4">

			<div class="cell icon-item">

				<div class="icon">
					<img src="/assets/images/placeholder-icon-1.svg">
				</div>

				<p class="item-text">
					The project would have four buildings total and will feature 478 residences with approximately 30,200 square feet.
				</p>

			</div>

			<div class="cell icon-item">

				<div class="icon">
					<img src="/assets/images/placeholder-icon-1.svg">
				</div>

				<p class="item-text">
					The project would have four buildings total and will feature 478 residences with approximately 30,200 square feet.
				</p>

			</div>

			<div class="cell icon-item">

				<div class="icon">
					<img src="/assets/images/placeholder-icon-1.svg">
				</div>

				<p class="item-text">
					The project would have four buildings total and will feature 478 residences with approximately 30,200 square feet.
				</p>

			</div>

			<div class="cell icon-item">

				<div class="icon">
					<img src="/assets/images/placeholder-icon-1.svg">
				</div>

				<p class="item-text">
					The project would have four buildings total and will feature 478 residences with approximately 30,200 square feet.
				</p>

			</div>

			<div class="cell icon-item">

				<div class="icon">
					<img src="/assets/images/placeholder-icon-1.svg">
				</div>

				<p class="item-text">
					The project would have four buildings total and will feature 478 residences with approximately 30,200 square feet.
				</p>

			</div>

			<div class="cell icon-item">

				<div class="icon">
					<img src="/assets/images/placeholder-icon-1.svg">
				</div>

				<p class="item-text">
					The project would have four buildings total and will feature 478 residences with approximately 30,200 square feet.
				</p>

			</div>

			<div class="cell icon-item">

				<div class="icon">
					<img src="/assets/images/placeholder-icon-1.svg">
				</div>

				<p class="item-text">
					The project would have four buildings total and will feature 478 residences with approximately 30,200 square feet.
				</p>

			</div>

			<div class="cell icon-item">

				<div class="icon">
					<img src="/assets/images/placeholder-icon-1.svg">
				</div>

				<p class="item-text">
					The project would have four buildings total and will feature 478 residences with approximately 30,200 square feet.
				</p>

			</div>

		</div>

	</div>

</section>