{#

	Image Cards 2

	@param {matrix} imageCards2Cards
		[
			wideImageCard:
			[
				wideImage {asset - image - max 1}
				titleText {plain text}
				textContent {plain text}
				cardLinkEntry {entries - max 1}
				cardLinkUrl {plain text}
			]
		]

#}

{# Parameters #}
{% set imageCards2Cards = params.imageCards2Cards ?? null %}

{# Variables #}
{%
	set wideImgResize = {
		mode: 'crop',
		width: 690,
		height: 360
	}
%}

{# Output #}
<section data-component data-image-cards-2>

	<div class="grid-container">

		<div class="grid-x grid-margin-x small-up-1 large-up-2">

			{% for imageCard in imageCards2Cards %}

				{% if imageCard.cardLinkEntry|length %}
					{% set cardLink = imageCard.cardLinkEntry.one.url %}
				{% else %}
					{% set cardLink = imageCard.cardLinkUrl %}
				{% endif %}

				{% set imageUrl = craft.imager.transformImage(imageCard.wideImage.one, wideImgResize).url %}

				<div class="cell">

					{%

						include 'authenticamplify/_elements/imageCard' with {
							imageCardImageUrl: imageUrl,
							imageCardTitleText: imageCard.titleText,
							imageCardTextContent: imageCard.textContent,
							imageCardUrl: cardLink
						}

					%}

				</div>

			{% endfor %}

		</div>

	</div>

</section>