{#

	Image Cards 2

	@param {matrix} imageCards2Cards
		[
			wideImageCard:
			[
				wideImage {asset - image - max 1}
				titleText {plain text}
				textContent {plain text}
				cardLink {linkit}
			]
		]

#}

{# Parameters #}
{% set imageCards2Cards = params.imageCards2Cards ?? null %}

{# Output #}
<section data-component data-image-cards-2>

	<div class="grid-container">

		<div class="grid-x grid-margin-x small-up-1 large-up-2">

			{% for imageCard in imageCards2Cards %}

				{% set imgAsset = imageCard.wideImage.one %}

				{%
					set wideImgResize = {
						mode: 'crop',
						width: 690,
						height: 360,
						position: imgAsset.getFocalPoint()
					}
				%}

				{% set imageUrl = craft.imager.transformImage(imgAsset, wideImgResize).url %}

				<div class="cell">

					{%

						include 'authenticamplify/_elements/imageCard' with {
							imageCardImageUrl: imageUrl,
							imageCardTitleText: imageCard.titleText,
							imageCardTextContent: imageCard.textContent,
							imageCardUrl: imageCard.cardLink
						}

					%}

				</div>

			{% endfor %}

		</div>

	</div>

</section>