<section data-component data-image-cards-2>

	<div class="grid-container">

		<div class="grid-x grid-margin-x small-up-1 large-up-2">


			<div class="cell">

				{%

					include 'authenticamplify/_elements/imageCard' with {
						imageUrl: 'http://via.placeholder.com/1035x540'
					}

				%}

			</div>

			<div class="cell">

				{%

					include 'authenticamplify/_elements/imageCard' with {
						imageUrl: 'http://via.placeholder.com/1035x540'
					}

				%}

			</div>


		</div>

	</div>

</section>