{#

	Image Cards 3

	@param {matrix} imageCards3LargeImageCards
		[
			largeImageCard:
			[
				largeImage {asset - image - max 1}
				titleText {plain text}
				textContent {plain text}
				cardLink {linkit}
			]
		]
	@param {matrix} imageCards3TallImageCards
		[
			tallImageCard:
			[
				tallImage {asset - image - max 1}
				titleText {plain text}
				textContent {plain text}
				cardLink {linkit}
			]
		]

#}

{# Parameters #}
{% set imageCards3LargeImageCards = params.imageCards3LargeImageCards ?? null %}
{% set imageCards3TallImageCards = params.imageCards3TallImageCards ?? null %}

{# Output #}
<section data-component data-image-cards-3>

	<div class="grid-container">

		{% if imageCards3LargeImageCards|length % 2 == 0 %}

			<div class="grid-x grid-margin-x small-up-1 medium-up-2 large-images">

				{% for imageCard in imageCards3LargeImageCards %}

					{% set imgAsset = imageCard.largeImage.one %}

					{%
						set largeImgResize = {
							mode: 'crop',
							width: 690,
							height: 895,
							position: imgAsset.getFocalPoint()
						}
					%}

					{% set imageUrl = craft.imager.transformImage(imgAsset, largeImgResize).url %}

					<div class="large-image cell">

						{%

							include 'authenticamplify/_elements/imageCard' with {
								imageCardImageUrl: imageUrl,
								imageCardTitleText: imageCard.titleText,
								imageCardTextContent: imageCard.textContent,
								imageCardUrl: imageCard.cardLink
							}

						%}

					</div>

				{% endfor %}

			</div>

			<div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-4 four-image-grid">

				{% for imageCard in imageCards3TallImageCards %}

					{% set imgAsset = imageCard.tallImage.one %}

					{%
						set tallImgResize = {
							mode: 'crop',
							width: 640,
							height: 720,
							position: imgAsset.getFocalPoint()
						}
					%}

					{% set imageUrl = craft.imager.transformImage(imgAsset, tallImgResize).url %}

					<div class="cell">

						{%

							include 'authenticamplify/_elements/imageCard' with {
								imageCardImageUrl: imageUrl,
								imageCardTitleText: imageCard.titleText,
								imageCardTextContent: imageCard.textContent,
								imageCardUrl: imageCard.cardLink
							}

						%}

					</div>

				{% endfor %}

			</div>

		{% else %}

			{% if imageCards3LargeImageCards|length > 1 %}

				<div class="grid-x grid-margin-x small-up-1 medium-up-2 large-images">

					{% for imageCard in imageCards3LargeImageCards %}

						{% if not loop.last %}

							{% set imgAsset = imageCard.largeImage.one %}

							{%
								set largeImgResize = {
									mode: 'crop',
									width: 690,
									height: 895,
									position: imgAsset.getFocalPoint()
								}
							%}
						
							{% set imageUrl = craft.imager.transformImage(imgAsset, largeImgResize).url %}

							<div class="large-image cell">

								{%

									include 'authenticamplify/_elements/imageCard' with {
										imageCardImageUrl: imageUrl,
										imageCardTitleText: imageCard.titleText,
										imageCardTextContent: imageCard.textContent,
										imageCardUrl: imageCard.cardLink
									}

								%}

							</div>

						{% endif %}

					{% endfor %}

				</div>
			
			{% endif %}

			<div class="grid-x grid-margin-x large-left-small-right-grid">

				<div class="cell small-12 medium-6 large-images">

					{% set imageCard = imageCards3LargeImageCards|last %}

					{% set imgAsset = imageCard.largeImage.one %}

					{%
						set largeImgResize = {
							mode: 'crop',
							width: 690,
							height: 895,
							position: imgAsset.getFocalPoint()
						}
					%}

					{% set imageUrl = craft.imager.transformImage(imgAsset, largeImgResize).url %}

					<div class="large-image">

						{%

							include 'authenticamplify/_elements/imageCard' with {
								imageCardImageUrl: imageUrl,
								imageCardTitleText: imageCard.titleText,
								imageCardTextContent: imageCard.textContent,
								imageCardUrl: imageCard.cardLink
							}

						%}

					</div>

				</div>

				<div class="cell small-12 medium-6">

					<div class="grid-x grid-margin-x small-up-1 medium-up-2 four-image-grid">

						{% for imageCard in imageCards3TallImageCards.limit(4) %}

							{% set imgAsset = imageCard.tallImage.one %}

							{%
								set tallImgResize = {
									mode: 'crop',
									width: 640,
									height: 720,
									position: imgAsset.getFocalPoint()
								}
							%}

							{% set imageUrl = craft.imager.transformImage(imgAsset, tallImgResize).url %}

							<div class="cell">

								{%

									include 'authenticamplify/_elements/imageCard' with {
										imageCardImageUrl: imageUrl,
										imageCardTitleText: imageCard.titleText,
										imageCardTextContent: imageCard.textContent,
										imageCardUrl: imageCard.cardLink
									}

								%}

							</div>

						{% endfor %}

					</div>

				</div>
				
			</div>

			{% if imageCards3TallImageCards|length > 4 %}

				<div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-4 four-image-grid">

					{% for imageCard in imageCards3TallImageCards.offset(4) %}

						{% set imgAsset = imageCard.tallImage.one %}

						{%
							set tallImgResize = {
								mode: 'crop',
								width: 640,
								height: 720,
								position: imgAsset.getFocalPoint()
							}
						%}

						{% set imageUrl = craft.imager.transformImage(imgAsset, tallImgResize).url %}

						<div class="cell">

							{%

								include 'authenticamplify/_elements/imageCard' with {
									imageCardImageUrl: imageUrl,
									imageCardTitleText: imageCard.titleText,
									imageCardTextContent: imageCard.textContent,
									imageCardUrl: imageCard.cardLink
								}

							%}

						</div>

					{% endfor %}

				</div>

			{% endif %}

		{% endif %}

	</div>

</section>