<section data-component data-key-intro-1>

	<div class="grid-container">

		<div class="grid-x">

			<div class="cell small-12 large-5 left">

				<div class="key-info">

					<h3 class="key-heading">Key Information</h3>

					<table class="info-table">
						<tr>
							<td>Dollar Volume</td>
							<td>$225,000,000</td>
						</tr>
						<tr>
							<td>Square Feet</td>
							<td>555,000</td>
						</tr>
						<tr>
							<td>Type</td>
							<td>Housing, Retail, Open Space</td>
						</tr>
						<tr>
							<td>Stories</td>
							<td>6</td>
						</tr>
						<tr>
							<td>Height (feet)</td>
							<td>70</td>
						</tr>
						<tr>
							<td>Proposed Start Date</td>
							<td>May, 2018</td>
						</tr>
						<tr>
							<td>Completion Date</td>
							<td>Fall, 2020</td>
						</tr>
					</table>

					<hr>

					<h3 class="key-heading">Project Plan Downloads</h3>

					<table class="info-table">
						<tr>
							<td>Site Plan</td>
							<td>
								<a class="project-plan-link" href="#">PDF</a>
								<a class="project-plan-link" href="#">Word</a>
							</td>
						</tr>
						<tr>
							<td>Rendering Packet</td>
							<td>
								<a class="project-plan-link" href="#">PDF</a>
							</td>
						</tr>
						<tr>
							<td>Brochure</td>
							<td>
								<a class="project-plan-link" href="#">PDF</a>
								<a class="project-plan-link" href="#">EPS</a>
							</td>
						</tr>
						<tr>
							<td>Amenities Overview</td>
							<td>
								<a class="project-plan-link" href="#">PDF</a>
							</td>
						</tr>
					</table>

				</div>

			</div>

			<div class="cell small-12 large-7 right">

				<h2 class="heading">West Bay 2727 is a mixed-use development project on a 12-acre East Boston Waterfront site overlooking Boston Harbor.</h2>

				<p>
					Opening Fall 2020, the under-construction project would have four buildings total and will feature 478 residences with approximately 30,200 square feet of retail and community space, including a cafe and a restaurant.
				</p>

				<p>
					Residences will include 398 apartments and 80 condominiums, including studios, one-bedrooms and two-bedrooms. Phase 1 will construct two buildings containing 284 rental apartments and one building containing 80 condominiums.
				</p>

				<div class="cta-row">
					<button class="button button-square button-black show-support-btn" type="button">Show Your Support</button>
					<div class="current-support">
						147 Current Supporters
					</div>
				</div>

			</div>

		</div>

	</div>

</section>