{#

	Listings 1

	@param {entries} ampListings1Entries

#}

{# Macros #}
{% import 'authenticamplify/_macros/_image-transform' as imageTransform %}

{# Parameters #}
{% set ampListings1Entries = params.ampListings1Entries ?? null %}

{# Output #}
<section data-component data-listings-1>

	<div class="grid-container">

		<div class="grid-x grid-margin-x{% if ampListings1Entries|length > 5 %} large-left-small-right-grid{% endif %}">

			<div class="cell small-12 large-6 large-images left-large-image">

				{% set listingEntry = ampListings1Entries|first %}

				{% set imgAsset = listingEntry.ampListingImage.one %}

				{%
					set largeImgResize = {
						mode: 'crop',
						width: 690,
						height: 895,
						position: imgAsset.getFocalPoint()
					}
				%}

				{% set imageUrl = imageTransform.imageTransform(imgAsset, largeImgResize) %}

				<div class="large-image">

					{%

						include 'authenticamplify/_elements/imageCard' with {
							imageCardImageUrl: imageUrl,
							imageCardTitleText: listingEntry.ampListingTitle,
							imageCardTextContent: listingEntry.ampListingSubtitle,
							imageCardUrl: listingEntry.url
						}

					%}

				</div>

			</div>

			<div class="cell small-12 large-6 right-four-image-grid">

				<div class="grid-x grid-margin-x small-up-1 medium-up-2 four-image-grid">

					{% for listingEntry in ampListings1Entries.offset(1).limit(4) %}

						{% set imgAsset = listingEntry.ampListingImage.one %}

						{%
							set tallImgResize = {
								mode: 'crop',
								width: 640,
								height: 720,
								position: imgAsset.getFocalPoint()
							}
						%}

						{% set imageUrl = imageTransform.imageTransform(imgAsset, tallImgResize) %}

						<div class="cell">

							{%

								include 'authenticamplify/_elements/imageCard' with {
									imageCardImageUrl: imageUrl,
									imageCardTitleText: listingEntry.ampListingTitle,
									imageCardTextContent: listingEntry.ampListingSubtitle,
									imageCardUrl: listingEntry.url,
									imageCardUseBgImg: true
								}

							%}

						</div>

					{% endfor %}

				</div>

			</div>

		</div>

		{% if ampListings1Entries|length > 5 %}

			<div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-4 four-image-grid">

				{% for listingEntry in ampListings1Entries.offset(5).limit(null) %}

					{% set imgAsset = listingEntry.ampListingImage.one %}

					{%
						set tallImgResize = {
							mode: 'crop',
							width: 640,
							height: 720,
							position: imgAsset.getFocalPoint()
						}
					%}

					{% set imageUrl = imageTransform.imageTransform(imgAsset, tallImgResize) %}

					<div class="cell">

						{%

							include 'authenticamplify/_elements/imageCard' with {
								imageCardImageUrl: imageUrl,
								imageCardTitleText: listingEntry.ampListingTitle,
								imageCardTextContent: listingEntry.ampListingSubtitle,
								imageCardUrl: listingEntry.url
							}

						%}

					</div>

				{% endfor %}

			</div>

		{% endif %}

	</div>

</section>
