{#

	Map 1

	@param {plain text} map1HeadingText
	@param {redactor} map1TextContent

#}

{# Parameters #}
{% set map1HeadingText = params.map1HeadingText ?? '' %}
{% set map1TextContent = params.map1TextContent ?? '' %}

{# Output #}
<section data-component data-map-1>

	<div class="grid-container">

		<div class="grid-x">

			<div class="cell small-12">

				<div id="map-container">
				</div>

			</div>

		</div>

		<div class="grid-x">

			<div class="cell small-12 medium-9 large-8">

				<h2 class="heading">{{ map1HeadingText }}</h2>

				{{ map1TextContent }}

			</div>

		</div>

	</div>

</section>