
<section data-mobile-nav-overlay>

	<div class="close">
		<span></span>
		<span></span>
	</div>

	<div class="nav">

		<ul>

			{% include "authenticamplify/_includes/site-nav" %}

		</ul>

	</div>

</section>