<section data-modal-ar-1>

	<div class="background-overlay"></div>

	<div class="modal">

		<h2 class="heading">Experience this project from your phone or tablet in Augmented Reality (AR)</h2>

		<div class="steps">

			<div class="step">

				<div class="image">
					<img src="/assets/images/placeholder-ar-icon.png">
				</div>

				<div class="instructions">
					<p>
						<strong>Step 1</strong> - Download the Authentic AR app from the Apple App Store.
					</p>
				</div>

			</div>

			<div class="step">

				<div class="image">
					<img src="/assets/images/placeholder-ar-qr.png">
				</div>

				<div class="instructions">
					<p>
						<strong>Step 2</strong> - Scan the QR code to access the project experiences.
					</p>
				</div>

			</div>

		</div>

		<div class="fine-print">
			Requirements: an Apple smart device to download and run the Authentic AR app.
		</div>

	</div>

</section>