<section class="navigation hero-overlay" data-navigation-3>

	<div class="grid-container">

		<header class="grid-x">

			<div class="logo-bar cell small-6 large-2 large-offset-1">

				{# hero overlay #}
				<a href="/" class="logo"><img src="/assets/images/west-bay-logo-white.svg" ></a>
				{# no hero overlay #}
				{#<a href="/" class="logo"><img src="/assets/images/west-bay-logo-black.svg" ></a>#}

			</div>

			<nav class="cell small-6 large-9 show-for-large">

				<ul>

					{% include "_includes/site-nav" %}

				</ul>

				<div class="social-links">
					{# hero overlay #}
					<a href="#"><img src="/assets/images/social-icon-instagram.svg"></a>
					{# no hero overlay #}
					{#<a href="#"><img src="/assets/images/social-icon-instagram-black.svg"></a>#}
				</div>

			</nav>

			<nav class="cell small-6 mobile-nav hide-for-large">
				<div class="mobile-nav-trigger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>

		</header>

	</div>

</section>