{#

	Navigation 5

	@param {asset - image - max 1} nav5LogoImage
	@param {plain text} nav5SiteName
	@param {string} nav5NextBlockType

#}

{# Parameters #}
{% set nav5LogoImage = params.nav5LogoImage ?? null %}
{% set nav5SiteName = params.nav5SiteName ?? '' %}
{% set nav5NextBlockType = params.nav5NextBlockType ?? '' %}

{# Variables #}
{% set logoImgAsset = nav5LogoImage.one %}
{%
	set logoResize = {
		mode: 'fit',
		width: 84,
		height: 84
	}
%}
{% set logoImageUrl = craft.imager.transformImage(logoImgAsset, logoResize).url %}

{% 
	if nav5NextBlockType|lower == 'hero1'
	or nav5NextBlockType|lower == 'hero2'
	or nav5NextBlockType|lower == 'hero3'
%}
	{% set heroOverlay = true %}
{% else %}
	{% set heroOverlay = false %}
{% endif %}

{# Output #}
<section class="navigation{% if heroOverlay %} hero-overlay{% endif %}" data-navigation-5>

	<div class="grid-container">

		<header class="grid-x align-middle">

			<div class="logo-bar cell small-8 medium-6 large-5">

				<a href="/" class="logo"><img src="{{ logoImageUrl }}" alt="logo"></a>

				<a href="/" class="company-title show-for-medium">{{ nav5SiteName }}</a>

			</div>

			<nav class="cell small-4 medium-6 large-7 mobile-nav">
				<div class="mobile-nav-trigger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>

		</header>

	</div>

</section>