<section class="navigation {#hero-overlay#}" data-navigation-5>

	<div class="grid-container">

		<header class="grid-x align-middle">

			<div class="logo-bar cell small-8 medium-6 large-5">

				{# no hero overlay #}
				<a href="/" class="logo"><img src="/assets/images/west-bay-logo-black.svg" ></a>
				{# hero overlay #}
				{#<a href="/" class="logo"><img src="/assets/images/west-bay-logo-white.svg" ></a>#}

				<a href="/" class="company-title show-for-medium">West Bays 27272</a>

			</div>

			<nav class="cell small-4 medium-6 large-7 mobile-nav">
				<div class="mobile-nav-trigger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>

		</header>

	</div>

</section>