<section class="navigation {#hero-overlay#}" data-navigation-6>

	<div class="grid-container">

		<header class="grid-x align-middle">

			<div class="logo-bar cell shrink">

				{# no hero overlay #}
				<a href="/" class="logo"><img src="/assets/images/west-bay-logo-black.svg" ></a>
				{# hero overlay #}
				{#<a href="/" class="logo"><img src="/assets/images/west-bay-logo-white.svg" ></a>#}

			</div>

			<nav class="cell auto show-for-large">

				<ul>

					{% include "_includes/site-nav" %}

				</ul>


			</nav>

			<nav class="cell auto mobile-nav hide-for-large">
				<div class="mobile-nav-trigger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>

		</header>

	</div>

</section>