{#

	Navigation 2

	@param {asset - image - max 1} nav2LogoImage
	@param {plain text} nav2SiteName
	@param {string} nav2NextBlockType

#}

{# Macros #}
{% import 'authenticamplify/_macros/_image-transform' as imageTransform %}

{# Parameters #}
{% set nav2LogoImage = params.nav2LogoImage ?? null %}
{% set nav2SiteName = params.nav2SiteName ?? '' %}
{% set nav2NextBlockType = params.nav2NextBlockType ?? '' %}

{# Variables #}
{% set logoImgAsset = nav2LogoImage.one %}
{%
	set logoResize = {
		mode: 'fit',
		width: 84,
		height: 84
	}
%}
{% set logoImageUrl = imageTransform.imageTransform(logoImgAsset, logoResize) %}

{% 
	if nav2NextBlockType|lower == 'hero1'
	or nav2NextBlockType|lower == 'hero2'
	or nav2NextBlockType|lower == 'hero3'
%}
	{% set heroOverlay = true %}
{% else %}
	{% set heroOverlay = false %}
{% endif %}

{# Output #}
<section class="navigation{% if heroOverlay %} hero-overlay{% endif %}" data-navigation-2>

	<div class="grid-container">

		<header>

			<nav class="mobile-nav">
				<div class="mobile-nav-trigger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>

			<div class="logo-bar">
				<div class="logo">
					<a href="/"><img src="{{ logoImageUrl }}" alt="logo"></a>
				</div>
				<div class="company-name show-for-medium">
					<a href="/">{{ nav2SiteName }}</a>
				</div>
			</div>

			<div class="social-links">
				{%
					include 'authenticamplify/_includes/social-links'
				%}
			</div>

		</header>

	</div>

</section>