{#

	Navigation 1

	@param {asset - image - max 1} nav1LogoImage
	@param {plain text} nav1SiteName
	@param {string} nav1NextBlockType

#}

{# Macros #}
{% import 'authenticamplify/_macros/_image-transform' as imageTransform %}

{# Parameters #}
{% set nav1LogoImage = params.nav1LogoImage ?? null %}
{% set nav1SiteName = params.nav1SiteName ?? '' %}
{% set nav1NextBlockType = params.nav1NextBlockType ?? '' %}

{# Variables #}
{% set logoImgAsset = nav1LogoImage.one %}
{%
	set logoResize = {
		mode: 'fit',
		width: 84,
		height: 84
	}
%}
{% set logoImageUrl = imageTransform.imageTransform(logoImgAsset, logoResize) %}

{% 
	if nav1NextBlockType|lower == 'hero1'
	or nav1NextBlockType|lower == 'hero2'
	or nav1NextBlockType|lower == 'hero3'
%}
	{% set heroOverlay = true %}
{% else %}
	{% set heroOverlay = false %}
{% endif %}

{# Output #}
<section data-navigation-1 class="navigation{% if heroOverlay %} hero-overlay{% endif %}">

	<div class="grid-container">

		<header class="grid-x">

			<div class="logo-bar cell small-6 large-4">

				<a href="/" class="logo"><img src="{{ logoImageUrl }}" alt="logo"></a>

				<a href="/" class="company-title show-for-medium">{{ nav1SiteName }}</a>

			</div>

			<nav class="cell small-6 large-8 show-for-large">

				<ul>

					{%
						include "authenticamplify/_includes/site-nav"
					%}

				</ul>

				<div class="social-links">

					{%
						include 'authenticamplify/_includes/social-links'
					%}

				</div>

			</nav>

			<nav class="cell small-6 mobile-nav hide-for-large">
				<div class="mobile-nav-trigger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>

		</header>

	</div>

</section>