<section class="navigation hero-overlay" data-navigation-2>

	<div class="grid-container">

		<header>

			<nav class="mobile-nav">
				<div class="mobile-nav-trigger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>

			<div class="logo-bar">
				<div class="logo">
					{# hero overlay #}
					<img src="/assets/images/west-bay-logo-white.svg">
					{# not hero overlay #}
					{#<img src="/assets/images/west-bay-logo-black.svg">#}
				</div>
				<div class="company-name show-for-medium">
					West Bay 2727
				</div>
			</div>

			<div class="social-links">
				{# hero-overlay #}
				<a href="#"><img src="/assets/images/social-icon-instagram.svg"></a>
				{# not hero overlay #}
				{#<a href="#"><img src="/assets/images/social-icon-instagram-black.svg"></a>#}
			</div>

		</header>

	</div>

</section>