{#

	Navigation 6

	@param {asset - image - max 1} nav6LogoImage
	@param {string} nav6NextBlockType

#}

{# Parameters #}
{% set nav6LogoImage = params.nav6LogoImage ?? null %}
{% set nav6NextBlockType = params.nav6NextBlockType ?? '' %}

{# Variables #}
{% set logoImgAsset = nav6LogoImage.one %}
{%
	set logoResize = {
		mode: 'fit',
		width: 84,
		height: 84
	}
%}
{% set logoImageUrl = craft.imager.transformImage(logoImgAsset, logoResize).url %}

{% 
	if nav6NextBlockType|lower == 'hero1'
	or nav6NextBlockType|lower == 'hero2'
	or nav6NextBlockType|lower == 'hero3'
%}
	{% set heroOverlay = true %}
{% else %}
	{% set heroOverlay = false %}
{% endif %}

{# Output #}
<section class="navigation{% if heroOverlay %} hero-overlay{% endif %}" data-navigation-6>

	<div class="grid-container">

		<header class="grid-x align-middle">

			<div class="logo-bar cell shrink">

				<a href="/" class="logo"><img src="{{ logoImageUrl }}" alt="logo"></a>

			</div>

			<nav class="cell auto show-for-large">

				<ul>

					{% include "authenticamplify/_includes/site-nav" %}

				</ul>


			</nav>

			<nav class="cell auto mobile-nav hide-for-large">
				<div class="mobile-nav-trigger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>

		</header>

	</div>

</section>