<section data-stats-3 data-component>

	<div class="grid-container">

		<div class="grid-x">

			<div class="cell small-12">

				<h2 class="section-title">Section Title</h2>

			</div>

		</div>

		<div class="grid-x top-row">

			<div class="cell small-12 large-4">

				<h3 class="component-title">Integrating 10% of our community feedback at a minimum.</h3>

			</div>

			<div class="cell small-12 large-8 text-content">

				<p>
					Taking all factors into account, we’ve imagined West Bay 2727 with the community in mind first and foremost. Knowing the unique culture, weather, and proximity to water that Boston has, we need to hear from you.
				</p>

				<p>
					But we want to know more. Explore the location on the map below, provide your thoughts, and add to the conversation.
				</p>

				<p>
					We can’t wait to hear what you have to say, and we hope to integrate community feedback into our final plans.
				</p>

			</div>

		</div>

		<div class="grid-x">

			<div class="cell small-12">

				<div class="grid-x small-up-1 medium-up-2">

					<div class="cell stat-item">

						<div class="number">$225,000</div>

						<div class="title">Anticipated through local taxes</div>

						<div class="subtext">Taking all factors into account, we’ve imagined West Bay 2727 with the community in mind first and foremost. Knowing the unique culture, weather, and proximity to water that Boston has, we need to hear from you.</div>

					</div>

					<div class="cell stat-item">

						<div class="number">8,500 sq. ft.</div>

						<div class="title">New parks and open spaces</div>

						<div class="subtext">Taking all factors into account, we’ve imagined West Bay 2727 with the community in mind first and foremost. Knowing the unique culture, weather, and proximity to water that Boston has, we need to hear from you.</div>

					</div>

					<div class="cell stat-item">

						<div class="number">75 affordable units</div>

						<div class="title">Built with the whole community in mind</div>

						<div class="subtext">Taking all factors into account, we’ve imagined West Bay 2727 with the community in mind first and foremost. Knowing the unique culture, weather, and proximity to water that Boston has, we need to hear from you.</div>

					</div>

					<div class="cell stat-item">

						<div class="number">500k in energy credits</div>

						<div class="title">Sending back to the energy grid</div>

						<div class="subtext">Taking all factors into account, we’ve imagined West Bay 2727 with the community in mind first and foremost. Knowing the unique culture, weather, and proximity to water that Boston has, we need to hear from you.</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</section>