<section data-component data-timeline-2>

	<div class="grid-container">

		<div class="grid-x">

			<div class="cell small-12 large-3">

				<h2 class="section-title">Section Title</h2>

			</div>

			<div class="cell small-12 large-9">

				<h2 class="heading">West Bay 2727 is a mixed-use development project on a Boston Waterfront site</h2>

				<h3 class="subheading">Mixed-use development project on a 12-acre East Boston Waterfront site overlooking Boston Harbor.</h3>

			</div>

		</div>

		<div class="timeline">



			<div class="timeline-item">

				<div class="image" style="background-image: url( https://via.placeholder.com/368x320 );"></div>

				<div class="content-wrap">

					<div class="content">

						<h3>Summer 2017</h3>

						<p>
							The waterfront project would have four buildings total and will feature 478 residences with approximately 30,200 square feet. Beyond that, the Boston site project would have four buildings total and will feature 478 residences with approximately 30,200 square feet.
						</p>

					</div>

				</div>

			</div>



			<div class="timeline-item">

				<div class="image" style="background-image: url( https://via.placeholder.com/368x320 );"></div>

				<div class="content-wrap">

					<div class="content">

						<h3>Title Format</h3>

						<p>
							The waterfront project would have four buildings total and will feature 478 residences with approximately 30,200 square feet. Beyond that, the Boston site project would have four buildings total and will feature 478 residences with approximately 30,200 square feet.
						</p>

					</div>

				</div>

			</div>



			<div class="timeline-item">

				<div class="image" style="background-image: url( https://via.placeholder.com/368x320 );"></div>

				<div class="content-wrap">

					<div class="content">

						<h3>Summer 2017</h3>

						<p>
							The waterfront project would have four buildings total and will feature 478 residences with approximately 30,200 square feet. Beyond that, the Boston site project would have four buildings total and will feature 478 residences with approximately 30,200 square feet.
						</p>

					</div>

				</div>

			</div>



		</div>

	</div>

</section>