$global-font-size: 16px;
$line-height-body: 1.45em;
$font-name: "Helvetica";

@include font-face("Karla", "Karla/Karla-Regular", 400);
@include font-face("Karla", "Karla/Karla-Italic", 400, italic);
@include font-face("Karla", "Karla/Karla-Bold", 700);
@include font-face("Karla", "Karla/Karla-BoldItalic", 700, italic);

@include font-face("SFProText", "SFProText/SFProText-Light", 100);
@include font-face("SFProText", "SFProText/SFProText-LightItalic", 100, italic);
@include font-face("SFProText", "SFProText/SFProText-Regular", 400);
@include font-face("SFProText", "SFProText/SFProText-RegularItalic", 400, italic);
@include font-face("SFProText", "SFProText/SFProText-Medium", 500);
@include font-face("SFProText", "SFProText/SFProText-MediumItalic", 500, italic);
@include font-face("SFProText", "SFProText/SFProText-Bold", 700);
@include font-face("SFProText", "SFProText/SFProText-BoldItalic", 700, italic);

@include font-face("Texta", "Texta/Texta-Regular", 400);
@include font-face("Texta", "Texta/Texta-It", 400, italic);
@include font-face("Texta", "Texta/Texta-Medium", 500);
@include font-face("Texta", "Texta/Texta-MediumIt", 500, italic);
@include font-face("Texta", "Texta/Texta-Bold", 700);
@include font-face("Texta", "Texta/Texta-BoldIt", 700, italic);

@include font-face("Circular", "Circular/CircularStd-Book", 400);
@include font-face("Circular", "Circular/CircularStd-BookItalic", 400, italic);
@include font-face("Circular", "Circular/CircularStd-Medium", 500);
@include font-face("Circular", "Circular/CircularStd-MediumItalic", 500, italic);
@include font-face("Circular", "Circular/CircularStd-Bold", 700);
@include font-face("Circular", "Circular/CircularStd-BoldItalic", 700, italic);
@include font-face("Circular", "Circular/CircularStd-Black", 800);
@include font-face("Circular", "Circular/CircularStd-BlackItalic", 800, italic);

@include font-face("SS Social Regular", "ss-social-regular/ss-social-regular", 400);
@include font-face("SS Social Circle", "ss-social-circle/ss-social-circle", 400);
@include font-face("SS Standard", "ss-standard/ss-standard", 400);

html, body {
  font-size: $global-font-size;
  font-weight: 400;
  line-height: $line-height-body;
}

// set line length only here
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
}

// some typography styles that will be reused in several places
.heading-1 {
	@include font("Circular", 36px, 700, 42px);
	@include breakpoint(medium) {
		@include font("Circular", 38px, 700, 50px);
	}
	@include breakpoint(large) {
		@include font("Circular", 42px, 700, 57px);
	}
	@include breakpoint(xlarge) {
		@include font("Circular", 48px, 700, 57px);
	}
}

.heading-2 {
	@include font("Circular", 28px, 500, 36px);
	@include breakpoint(medium) {
		@include font("Circular", 32px, 500, 40px);
	}
	@include breakpoint(large) {
		@include font("Circular", 35px, 500, 44px);
	}
	@include breakpoint(xlarge) {
		@include font("Circular", 38px, 500, 47px);
	}
}

.hero-heading-1 {
	@include font("Circular", 30px, 400, 34px);
	letter-spacing: 1px;
	@include breakpoint(medium) {
		@include font("Circular", 36px, 400, 46px);
	}
	@include breakpoint(large) {
		@include font("Circular", 42px, 400, 52px);
	}
	@include breakpoint(xlarge) {
		@include font("Circular", 48px, 400, 61px);
	}
}

.hero-heading-1-black {
	@include font("Circular", 30px, 800, 34px);
	letter-spacing: 1px;
	@include breakpoint(medium) {
		@include font("Circular", 36px, 800, 46px);
	}
	@include breakpoint(large) {
		@include font("Circular", 42px, 800, 52px);
	}
	@include breakpoint(xlarge) {
		@include font("Circular", 48px, 800, 61px);
	}
}

.hero-subheading {
	@include font("Circular", 20px, 400, 27px);
	letter-spacing: 1px;
	@include breakpoint(medium) {
		@include font("Circular", 24px, 400, 32px);
	}
	@include breakpoint(large) {
		@include font("Circular", 26px, 400, 36px);
	}
	@include breakpoint(xlarge) {
		@include font("Circular", 28px, 400, 38px);
	}
}

.nav-links {
	@include font("Karla", 19px, 400, 24px);
	@include breakpoint(xlarge) {
		@include font("Karla", 23px, 400, 27px);
	}
}

.body-text {
	@include font("Karla", 18px, 400, 28px);
	@include breakpoint(medium) {
		@include font("Karla", 19px, 400, 30px);
	}
	@include breakpoint(large) {
		@include font("Karla", 20px, 400, 33px);
	}
}