$contact1_headingColor: $black !default;
$contact1_bodyColor: $black !default;
$contact1_bodyLinkColor: $grey !default;

$contentImage1_headingColor: $black !default;
$contentImage1_bodyColor: $black !default;

$contentImage2_headingColor: $black !default;
$contentImage2_bodyColor: $black !default;

$contentImage3_headingColor: $black !default;
$contentImage3_bodyColor: $black !default;

$contentImage4_headingColor: $black !default;
$contentImage4_bodyColor: $black !default;

$contentImage5_headingColor: $black !default;
$contentImage5_bodyColor: $black !default;

$contentWithLinks1_headingColor: $black !default;
$contentWithLinks1_bodyColor: $black !default;
$contentWithLinks1_sidebarLinksColor: $grey !default;

$contentWithLinks2_headingColor: $black !default;
$contentWithLinks2_bodyColor: $black !default;
$contentWithLinks2_sidebarLinksColor: $grey !default;

$contentWithLinks3_headingColor: $black !default;
$contentWithLinks3_bodyColor: $black !default;
$contentWithLinks3_sidebarLinksColor: $grey !default;

$content1_headingColor: $black !default;
$content1_bodyColor: $black !default;

$content2_headingColor: $black !default;
$content2_bodyColor: $black !default;

$content3_headingColor: $black !default;
$content3_bodyColor: $black !default;

$ctaEmail1_headingColor: $black !default;
$ctaEmail1_bodyColor: $black !default;

$ctaEmail2_headingColor: $black !default;
$ctaEmail2_bodyColor: $black !default;

$cta1_headingColor: $black !default;
$cta1_bodyColor: $black !default;

$cta2_headingColor: $black !default;
$cta2_bodyColor: $black !default;
$cta2_background-color: $greyLight !default;

$footerColumns_backgroundColor: $black !default;
$footerColumns_bodyColor: $white !default;
$footerColumns_linkColor: $grey !default;

$footerContacts_backgroundColor: transparent !default;
$footerContacts_headingColor: $black !default;
$footerContacts_itemColor: $black !default;
$footerContacts_itemLinkColor: $grey !default;

$footerLogos_backgroundColor: transparent !default;

$gallery1_backgroundColor: $white !default;
$gallery1_contentBackgroundColor: $greyLight !default;
$gallery1_headingColor: $black !default;
$gallery1_bodyColor: $black !default;
$gallery1_dotColor: $greyLight !default;
$gallery1_activeDotColor: $black !default;

$gallery2_backgroundColor: transparent !default;
$gallery2_headingColor: $black !default;
$gallery2_bodyColor: $black !default;
$gallery2_dotColor: $greyLight !default;
$gallery2_activeDotColor: $black !default;

$gallery3_headingColor: $black !default;
$gallery3_bodyColor: $black !default;
$gallery3_contentBackgroundColor: $greyLight !default;
$gallery3_dotColor: $greyLight !default;
$gallery3_activeDotColor: $black !default;

$hero2_headingColor: $black !default;
$hero2_subheadingColor: $greyLight !default;

$hero3_headingColor: $white !default;
$hero3_subheadingColor: $white !default;
$hero3_dotColor: $black !default;
$hero3_activeDotColor: $grey !default;

$hero4_headingColor: $black !default;
$hero4_subheadingColor: $black !default;
$hero4_dotColor: $black !default;
$hero4_activeDotColor: $grey !default;

$hero5_headingColor: $black !default;
$hero5_subheadingColor: $black !default;
$hero5_dotColor: $black !default;
$hero5_activeDotColor: $grey !default;

$hero6_headingColor: $black !default;
$hero6_subheadingColor: $black !default;
$hero6_dotColor: $black !default;
$hero6_activeDotColor: $grey !default;

$icons1_headingColor: $black !default;
$icons1_subheadingColor: $black !default;
$icons1_itemTextColor: $black !default;

$icons2_headingColor: $black !default;
$icons2_subheadingColor: $black !default;
$icons2_itemTextColor: $black !default;

$icons3_headingColor: $black !default;
$icons3_subheadingColor: $black !default;
$icons3_itemTextColor: $black !default;

$icons4_itemTextColor: $black !default;

$keyIntro1_tableBackgroundColor: $greyLight !default;
$keyIntro1_tableHeadingColor: $black !default;
$keyIntro1_tableColor: $black !default;
$keyIntro1_tableLinkColor: $greyLight !default;
$keyIntro1_hrBackgroundColor: $grey !default;
$keyIntro1_headingColor: $black !default;
$keyIntro1_bodyColor: $black !default;
$keyIntro1_ctaColor: $black !default;

$keyIntro2_headingColor: $black !default;
$keyIntro2_bodyColor: $black !default;
$keyIntro2_ctaColor: $black !default;
$keyIntro2_tableHeadingColor: $black !default;
$keyIntro2_tableColor: $black !default;
$keyIntro2_tableLinkColor: $greyLight !default;
$keyIntro2_hrBackgroundColor: $greyLight !default;

$keyIntro3_headingColor: $black !default;
$keyIntro3_bodyColor: $black !default;
$keyIntro3_tableHeadingColor: $black !default;
$keyIntro3_tableColor: $black !default;
$keyIntro3_tableLinkColor: $grey !default;
$keyIntro3_ctaColor: $grey !default;
$keyIntro3_hrBackgroundColor: $greyLight !default;

$map1_headingColor: $black !default;
$map1_bodyColor: $black !default;

$map2_headingColor: $black !default;
$map2_bodyColor: $black !default;

$navigation1_backgroundColor: transparent !default;
$navigation1_color: $black !default;
$navigation1_socialColor: $black !default;
$navigation1_overlayColor: $black !default;
$navigation1_overlaySocialColor: $black !default;

$stats1_headingColor: $black !default;
$stats1_bodyColor: $black !default;

$stats2_headingColor: $black !default;
$stats2_bodyColor: $black !default;

$stats3_headingColor: $black !default;
$stats3_bodyColor: $black !default;

$timeline1_headingColor: $black !default;
$timeline1_subheadingColor: $black !default;
$timeline1_cellBackgroundColor: $greyLight !default;
$timeline1_cellHeadingColor: $black !default;
$timeline1_cellBodyColor: $black !default;

$timeline2_headingColor: $black !default;
$timeline2_subheadingColor: $black !default;
$timeline2_cellBackgroundColor: $greyLight !default;
$timeline2_cellHeadingColor: $black !default;
$timeline2_cellBodyColor: $black !default;
